section.section#contact-information
  .section-wrapper
    .section-content
      .cols
        .col.location
          .icon
          .title Наша локація
          .value
            p м. Львів, вул. Джерельна 38
        .col.email
          .icon
          .title Емейл адреси
          .value
            p
              a(href="hello@cursor.education") hello@cursor.education
            p
              a(href="ostap@cursor.education") ostap@cursor.education
        .col.phone
          .icon
          .title Контактні телефони
          .value
            p
              a(href="tel:+380682292804") +38 (068) 229 2804
            p
              a(href="tel:+380974205963") +38 (097) 420 5963
