section.section#footer
  .section-wrapper
    //- img(src="https://dl.dropboxusercontent.com/spa/3wo62sfm2mbj31o/09u_a_-c.png")

    .cols
      .col.contact-info
        .logo
          i.icon
        .info Наша місія - навчити використовувати на користь людства те, що може бути потужнішим ніж саме людство.
        .phone
          a(href="tel:+380682292804") +38 (068) 229 2804
        .email
          a(href="mailto:hello@cursor.education") hello@cursor.education
        .address м. Львів, вул. Джерельна 38
      .col.useful-links
        .widget
          .title Корисні посилання
          ul.links
            li
              a(href="#") Про нас
            li
              a(href="#") Блог
            li
              a(href="#") Стати викладачем
            //- li Update Status
            li
              a(href="#") Курси
            li
              a(href="#") Події
            //- li Documentation
            li
              a(href="#") Галерея
            //- li FAQs
            //- li Forums
      //- .col.courses
      //-   .widget
      //-     .title Recent Courses
      //- .col.subscribe
      //-   div subscribe
