section.section#gallery
  .section-wrapper
    .section-title
      | Деякі&nbsp;
      span.highlight фото
      | &nbsp;із попередніх занять

  .images
    img(src="https://scontent-fra3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/c100.0.880.880/16583631_1356887557682684_5289299834736476160_n.jpg")
    img(src="https://scontent-fra3-1.cdninstagram.com/t51.2885-15/s750x750/sh0.08/e35/13392739_1772972842933341_784462199_n.jpg")
    img(src="https://scontent-waw1-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15539059_1819443671671361_6421986975317753856_n.jpg")
    img(src="https://scontent-waw1-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/c135.0.810.810/15538372_1175957619148000_1537890465708244992_n.jpg")
    img(src="https://scontent-waw1-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/c135.0.809.809/16110922_1266509306761104_113203213229883392_n.jpg")
    img(src="https://scontent-waw1-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/c17.0.1046.1046/15535243_1671235913168121_2788105061312495616_n.jpg")
    img(src="https://scontent-waw1-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15538490_214636602321194_1555363805712613376_n.jpg")
    img(src="https://scontent-waw1-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/c0.37.1080.1080/16110944_1724775131167731_8243842163033505792_n.jpg")
    img(src="https://scontent-waw1-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14596730_355339661514855_7303731159752507392_n.jpg")
    img(src="https://scontent-waw1-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14597233_625946430933979_1766382790279954432_n.jpg")
    img(src="https://scontent-waw1-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15305887_1283998001657908_2811039834485817344_n.jpg")
    img(src="https://scontent-waw1-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15337195_240249266407262_3946384778139271168_n.jpg")
    img(src="https://scontent-waw1-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15253081_745587532259262_1017483361649688576_n.jpg")
    img(src="https://scontent-waw1-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15535399_1253531094669473_1555795668969193472_n.jpg")
    img(src="https://scontent-waw1-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/c135.0.810.810/14553227_376246389380651_2182510854350569472_n.jpg")
    img(src="https://scontent-waw1-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14269059_1661061737542642_5751053503896223744_n.jpg")
    img(src="https://scontent-fra3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14723688_316684798709523_7574850566585581568_n.jpg")
    img(src="https://scontent-fra3-1.cdninstagram.com/t51.2885-15/e35/14073216_716091485210092_1409052304_n.jpg")
    img(src="https://scontent-fra3-1.cdninstagram.com/t51.2885-15/e35/13320282_1572693443024928_1186708178_n.jpg")
    img(src="https://scontent-fra3-1.cdninstagram.com/t51.2885-15/s480x480/e35/13388722_1763553433888369_1199660962_n.jpg")
    img(src="https://scontent-fra3-1.cdninstagram.com/t51.2885-15/s750x750/sh0.08/e35/13187921_605967242911698_1220258427_n.jpg")
    img(src="https://scontent-fra3-1.cdninstagram.com/t51.2885-15/s750x750/sh0.08/e35/13166907_614672822023350_598127715_n.jpg")
    img(src="https://scontent-fra3-1.cdninstagram.com/t51.2885-15/s750x750/sh0.08/e35/12930764_1531076787201555_1040616008_n.jpg")
    img(src="https://scontent-fra3-1.cdninstagram.com/t51.2885-15/e35/12519125_543245039190807_282729986_n.jpg")
    img(src="https://scontent-fra3-1.cdninstagram.com/t51.2885-15/s750x750/sh0.08/e35/13092302_1598272790501043_366305300_n.jpg")
    img(src="https://scontent-fra3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13551538_1053033508106233_1394930728_n.jpg")
    img(src="https://scontent-fra3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/c0.135.1080.1080/13739605_317707895238290_1672512020_n.jpg")
    img(src="https://scontent-fra3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13722085_1669463416710533_1357890451_n.jpg")
    img(src="https://scontent-fra3-1.cdninstagram.com/t51.2885-15/s640x640/e15/14052687_1110144735746683_1129780197_n.jpg")
    img(src="https://scontent-fra3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14659440_341822502818834_6552367472161325056_n.jpg")
    img(src="https://scontent-waw1-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13636122_1167199753345935_801293707_n.jpg")
    img(src="https://scontent-waw1-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/c0.135.1080.1080/13739605_317707895238290_1672512020_n.jpg")
    img(src="https://scontent-waw1-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13739495_135383506900069_1537467578_n.jpg")
    img(src="https://scontent-waw1-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13724742_298976367124010_867630966_n.jpg")
    img(src="https://scontent-waw1-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13628070_1712892525638847_764156597_n.jpg")
    img(src="https://scontent-waw1-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/c135.0.810.810/13549406_156599548091532_1524391064_n.jpg")

  .section-wrapper
    .section-content
      a.button.styled.l.follow.instagram(
        href="https://www.instagram.com/cursor.education/" target="_blank"
        track="click" track-event="Button" track-id="instagram-follow"
      )
        i.icon.logo
        | Follow @cursor.education on
        i.icon.label

      a.button.styled.l.orange(
        href="https://www.instagram.com/cursor.education/" target="_blank"
        track="click" track-event="Button" track-id="instagram-more-photo"
      )
        | Більше фото у нашому instagram
        i.icon.external
