section.section#people
  .people-list
    i.student#ivan-kondratiuk
    i.student#andrey-mironichev
    i.student#artem-zatula
    i.student#bohdan-chaban
    i.student#diana-nastusenko
    i.student#dmytro-taranenko
    i.student#oleksand-semochko
    i.student#olesya-paraschak
    i.student#dmytro-yushkevich
    i.student#mykola-samila
    i.student#stanislav-lakhovytch
    i.student#vitaliy-palyushok
    i.student#dasha-dementova
    i.student#volodymyr-yevtushenko
    i.student#yurij-koshel
    i.student#yuriy-grebinyuk
    i.student#yuriy-pankiv
