section.section#social-icons
  .section-wrapper
    .section-content

      .fb-like(data-href="https://www.facebook.com/education.cursor/" data-width="500" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true")

      .social-icons-list
        .social
          a(href="https://facebook.com/education.cursor" target="_blank")
            i.icon.facebook
            .title
              i.title-icon.facebook
              | Facebook
            .desc
              p 51 відгук, та 5 зірок.
              p Кожен з тих, хто написав відгук - наш випускник. Ви можете написати абсолютно любому.
        .social
          a(href="https://vk.com/cursor.education" target="_blank")
            i.icon.vk
            .title
              i.title-icon.vk
              | Vkontakte
            .desc Ми активно ділимось цікавою інформацією з нами підписниками.
        .social
          a(href="https://instagram.com/cursor.education" target="_blank")
            i.icon.instagram
            .title
              i.title-icon.instagram
              | Instagram
            .desc Ми робимо багато фотографій протягом курсу, та ділимось з вами ними.
        .social
          a(href="https://linkedin.com/company/cursor-education" target="_blank")
            i.icon.linkedin
            .title
              i.title-icon.linkedin
              | Linkedin
            .desc Ви зможете побачити, скільки із студентів працевлаштовані.
        .social
          a(href="https://github.com/cursor-education" target="_blank")
            i.icon.github
            .title
              i.title-icon.github
              | Github
            .desc Наші презентації, та тестові проекти студентів.
        .social
          a(href="https://google.com/search?q=CURSOR+Education" target="_blank")
            i.icon.google
            .title
              i.title-icon.google
              | Google
            .desc Вся інша інформація про школу, і відгуки - у відкритому доступі.
