section.section#about-us
  .section-wrapper
    .section-content
      .multicolor-title
        .word.word-cursor CURSOR
        .word.word-education .EDUCATION

      .page-intro
        .feedback-text
          | Ми -&nbsp;
          span.highligh школа програмування.
          .break
          | І ми допомагаємо кожному&nbsp;
          span.highligh реалізовувати себе&nbsp;
          | в ІТ.
          .break.long
          | В майбутньому - навик програмування прирівняється з навиком “писати” та “читати”.
          .break.long
          | Тому вже зараз ми розповідаємо&nbsp;
          span.highligh правду про сферу ІТ
          |. Ми&nbsp;
          span.highligh не мотивуємо фінансовою стороною
          |. Не закликаємо всіх іти в ІТ. Ми попереджуємо одразу - від програмування потрібно отримувати задоволення, а не просто хотіти стати “програмістом”.
          .break.long
          .mission-text Наша місія - навчити використовувати на користь людства те, що може бути потужнішим ніж саме людство.

        .student-photo
          i.student#volodymyr-bakay(data-image="volodymyr-bakay")
          i.student#dasha-dementova.next(data-image="dasha-dementova")
          i.student#stanislav-lakhovytch.current(data-image="stanislav-lakhovytch")
          i.student#bohdan-chaban(data-image="bohdan-chaban")
          i.student#oleksandr-semochko(data-image="oleksandr-semochko")
          i.student#mykola-samila(data-image="mykola-samila")
          i.student#volodymyr-yevtushenko(data-image="volodymyr-yevtushenko")
          i.student#dmytro-taranenko(data-image="dmytro-taranenko")
          i.student#andrey-mironichev(data-image="andrey-mironichev")
          i.student#ivan-kondratiuk(data-image="ivan-kondratiuk")
