section.section#benefits
  .section-wrapper
    .section-title
      | Чому ми даємо&nbsp;
      span.highlight результат
    .section-content
      .list-of-benefits
        .row
          .cell
            .box.job-support
              //- .box-background
              //-   .box-background-image
              //-   .box-overlay
              .box-content
                i.icon
                .box-title
                  h3 Job Support
              .box-description
                .description-wrapper
                  p У кожній навчальній програмі ми розказуємо та показуємо як ефективно шукати роботу, як відбувається процес рекрутингу, і як проходити співбесіди.
                  .button Детальніше
          .cell
            .box.moneyback
              //- .box-background
              //-   .box-background-image
              //-   .box-overlay
              .box-content
                i.icon
                .box-title
                  h3 Повернення вартості навчання
              .box-description
                .description-wrapper
                  p Ми гарантуємо, що наша програма навчання максимально актуальна до потреб ринку, і ви зможете її покрити протягом навчання.
                  .button Детальніше
          .cell
            .box.correct-education
              //- .box-background
              //-   .box-background-image
              //-   .box-overlay
              .box-content
                i.icon
                .box-title
                  h3 Навчання, яке розроблене правильно
              .box-description
                .description-wrapper
                  p Ми не теоретики, і ми не практики. Програмування - це стиль і частина нашого життя. Ми знаємо, що потрібно клієнту і ринку, і знаємо як це вивчити, зрозуміти і почати використовувати.
                  .button Детальніше
        .row
          .cell
            .box.it-experience-during-education
              //- .box-background
              //-   .box-background-image
              //-   .box-overlay
              .box-content
                i.icon
                .box-title
                  h3 ІТ досвід в навчанні
              .box-description
                .description-wrapper
                  p Кожна наша програма має формат максимально наближений до методологій і реалій роботи в ІТ. З першого дня у нас будуть правильні стендапи, процес та айтішна комунікація, які дадуть вам розуміння як будуються будинки в програмуванні.
                  .button Детальніше
          .cell
            .box.mentors
              //- .box-background
              //-   .box-background-image
              //-   .box-overlay
              .box-content
                i.icon
                .box-title
                  h3 Ментори
              .box-description
                .description-wrapper
                  p У нас є ментори, які будуть допомагати протягом курсу. Кожен із них давно працює програмістом, та має достатній досвід шоб допомогти вирішити технічні питання, які будуть протягом курсу.
                  .button Детальніше
          .cell
            .box.primary-supports
              //- .box-background
              //-   .box-background-image
              //-   .box-overlay
              .box-content
                i.icon
                .box-title
                  h3 Primary Supports
              .box-description
                .description-wrapper
                  p У нас є технічні ментори, які будуть технічно допомагати протягом курсу.
                  .button Детальніше
        .row
          .cell
            .box.secondary-supports
              //- .box-background
              //-   .box-background-image
              //-   .box-overlay
              .box-content
                i.icon
                .box-title
                  h3 Secondary Supports
              .box-description
                .description-wrapper
                  p Також у нас є багато друзів, які допомагають нам протягом курсу. Зазвичай у них має достатньо часу шоб стабільно допомагати студентам протягом курсу, тому допомагають по можливості.
                  .button Детальніше
          .cell
            .box.true-about-it
              //- .box-background
              //-   .box-background-image
              //-   .box-overlay
              .box-content
                i.icon
                .box-title
                  h3 Правда про ІТ
              .box-description
                .description-wrapper
                  p Ми не будемо вам лити воду про те, шо ви одразу отримаєте багато доларову зарплату одразу після курсу. Ми розказуємо тільки правду про ІТ з реальними випадками з досвіду.
                  .button Детальніше
          .cell
            .box.no-magic
              //- .box-background
              //-   .box-background-image
              //-   .box-overlay
              .box-content
                i.icon
                .box-title
                  h3 NO чарівній паличці
              .box-description
                .description-wrapper
                  p Будемо відведрі один з одним - все залежить тільки від вас. Не від тренерів, розміру монітора і наявності макбука. Тільки від того, наскільки сильна у вас мотивація та бажання вчитись.
