section.section#educational-programms
  .section-wrapper
    .section-title
      | Навчальні&nbsp;
      span.highlight програми
    .section-content

      .educational-programms-types
        .program-type.active(data-type="education") Навчання
        .program-type(data-type="projects").hidden Проекти

      .list-of-educational-programms
        .list-of-program-type.type-education.visible
          a(href="/course/web-ui-basic").program.frontend
            .program-icon
            .line.program-title FRONT-END Education
            .line.program-coverage ~30% ринку
            .line.program-duration 3 місяців
            .line.program-graduates Випускників: 136
            .line.program-start
              span.label Початок:&nbsp;
              span.value 24 квітня
            .button
              .link Детальніше
          a(href="/course/java-basic").program.java.disabled
            .program-icon
            .line.program-title JAVA Education
            .line.program-coverage 30% ринку
            .line.program-duration 5 місяців
            .line.program-graduates Випускників: 62
            .line.program-start оновлюємо програму
            .button
              .link Детальніше
          a(href="/course/ruby-basic").program.ruby.disabled
            .program-icon
            .line.program-title RUBY Education
            .line.program-coverage 12% ринку
            .line.program-duration 3 місяців
            .line.program-graduates Випускників: 47
            .line.program-start оновлюємо програму
            .button
              .link Детальніше
          //- .program.corporate
          //-   .program-icon
          //-   .line.program-title corporate
          //- .line.program-coverage 33% ринку
          //- .line//-   .program-duration 6 місяців
          //- .line.program-intensity 6 разів на тиждень
          //- .line//-   .program-graduates 123
          //-   .button
          //-     a(href="/course/web-ui-basic") Детальніше

        .list-of-program-type.type-projects
          .program.frontend
            .program-icon
            .line.program-title Project 1
            .line.program-coverage 33% ринку
            .line.program-duration 6 місяців
            .line.program-intensity 6 разів на тиждень
            .line.program-graduates Випускників: 660
            .button
              a(href="/course/web-ui-basic") Детальніше
          .program.frontend
            .program-icon
            .line.program-title Project 1
            .line.program-coverage 33% ринку
            .line.program-duration 6 місяців
            .line.program-intensity 6 разів на тиждень
            .line.program-graduates Випускників: 660
            .button
              a(href="/course/web-ui-basic") Детальніше
          .program.frontend
            .program-icon
            .line.program-title Project 1
            .line.program-coverage 33% ринку
            .line.program-duration 6 місяців
            .line.program-intensity 6 разів на тиждень
            .line.program-graduates Випускників: 660
            .button
              a(href="/course/web-ui-basic") Детальніше
          .program.frontend
            .program-icon
            .line.program-title Project 1
            .line.program-coverage 33% ринку
            .line.program-duration 6 місяців
            .line.program-intensity 6 разів на тиждень
            .line.program-graduates Випускників: 660
            .button
              a(href="/course/web-ui-basic") Детальніше
          .program.frontend
            .program-icon
            .line.program-title Project 1
            .line.program-coverage 33% ринку
            .line.program-duration 6 місяців
            .line.program-intensity 6 разів на тиждень
            .line.program-graduates Випускників: 660
            .button
              a(href="/course/web-ui-basic") Детальніше
          .program.frontend
            .program-icon
            .line.program-title Project 1
            .line.program-coverage 33% ринку
            .line.program-duration 6 місяців
            .line.program-intensity 6 разів на тиждень
            .line.program-graduates Випускників: 660
            .button
              a(href="/course/web-ui-basic") Детальніше
          .program.frontend.finished
            .program-icon
            .line.program-title Project 1
            .line.program-coverage 33% ринку
            .line.program-duration 6 місяців
            .line.program-intensity 6 разів на тиждень
            .line.program-graduates Випускників: 660
            .button
              a(href="/course/web-ui-basic") Детальніше
          .program.frontend.finished
            .program-icon
            .line.program-title Project 1
            .line.program-coverage 33% ринку
            .line.program-duration 6 місяців
            .line.program-intensity 6 разів на тиждень
            .line.program-graduates Випускників: 660
            .button
              a(href="/course/web-ui-basic") Детальніше
          .program.frontend.finished
            .program-icon
            .line.program-title Project 1
            .line.program-coverage 33% ринку
            .line.program-duration 6 місяців
            .line.program-intensity 6 разів на тиждень
            .line.program-graduates Випускників: 660
            .button
              a(href="/course/web-ui-basic") Детальніше
          .program.frontend.finished
            .program-icon
            .line.program-title Project 1
            .line.program-coverage 33% ринку
            .line.program-duration 6 місяців
            .line.program-intensity 6 разів на тиждень
            .line.program-graduates Випускників: 660
            .button
              a(href="/course/web-ui-basic") Детальніше
          .program.frontend.finished
            .program-icon
            .line.program-title Project 1
            .line.program-coverage 33% ринку
            .line.program-duration 6 місяців
            .line.program-intensity 6 разів на тиждень
            .line.program-graduates Випускників: 660
            .button
              a(href="/course/web-ui-basic") Детальніше
          .program.frontend.finished
            .program-icon
            .line.program-title Project 1
            .line.program-coverage 33% ринку
            .line.program-duration 6 місяців
            .line.program-intensity 6 разів на тиждень
            .line.program-graduates Випускників: 660
            .button
              a(href="/course/web-ui-basic") Детальніше
