section.section#how-we-started
  .section-wrapper
    .section-title
      | Як ми починали, або&nbsp;
      span.highlight історія школи
    .section-content
      a.button.styled.white.large(href="/our-history") Прочитати історію школи
