section.section#job-support
  .section-wrapper
    .section-content

      .job-support
        .section-title Job Support
        .content
          img(src="/job-support.png")
          a.button.styled.large.background-orange.text-white(
            href="/job-support"
            track="click" track-event="Button" track-id="job-support-read-more"
          ) Читати детальніше

      .divider
        .divider-line

      .true-about-it
        .section-title Правда про ІТ
        .content
          img(src="/true-about-it.png")
          a.button.styled.large.background-orange.text-white(
            href="/true-about-it"
            track="click" track-event="Button" track-id="true-about-it-read-more"
          ) Читати детальніше
