section.section#trainers
  .section-wrapper
    .section-title
      | Тренери та&nbsp;
      span.highlight команда школи
    .section-content

      .list-of-trainers
        a.teacher(href="/teacher/andrew-petryk")
          .photo
            img(src="https://www.dropbox.com/s/v1nx6dvex4kk7ti/300x300.png?raw=1")
          .name Andrew Petryk
          .position Software Engineer
          .courses
            i.icon.java
          .description Java Software Engineer. Активний учасник громадського життя Львова, проводить соціальні і спортивні заходи. Любить комп'ютерні ігри.

        a.teacher(href="/teacher/dmytro-fedorov")
          .photo
            img(src="https://www.dropbox.com/s/1y4lhw48oood7c6/dmytro-fedorov-300x300.jpg?raw=1")
          .name Dmytro Fedorov
          .position Senior Software Engineer
          .courses
            i.icon.java
          .description Java Software Engineer в ABTO Software. Більше 4-х років досвіду розробки в Enterprise. Професійно захоплюється грою у більярд.

        a.teacher(href="/teacher/viktor-abramov")
          .photo
            img(src="https://cs540101.userapi.com/c638123/v638123513/22fad/fIwm6IxZHcE.jpg")
          .name Viktor Abramov
          .position Senior Software Engineer
          .courses
            i.icon.frontend
          .description Senior Frontend Engineer, 6+ років досвіду в IT, IFBB спортсмен, ко-фаундер Uboro GPS Tracking System.

        a.teacher(href="/teacher/volodymyr-sen")
          .photo
            img(src="https://www.dropbox.com/s/crovgdepvb4oujy/volodymyr-sen.png?raw=1")
          .name Volodymyr Sen
          .position Lead Software Engineer
          .courses
            i.icon.frontend
          .description Frontend Engineer в EPAM Systems з більше 6+ років досвіду.

        a.teacher(href="/teacher/roman-rodomansky")
          .photo
            img(src="https://www.dropbox.com/s/wgsuhgrrka4ayqj/roman-rodomansky-300x300.png?raw=1")
          .name Roman Rodomansky
          .position Senior Software Engineer
          .courses
            i.icon.frontend
          .description Senior Engineer, 6+ років досвіду в IT, доповідач та організатор технічних івентів.

        a.teacher(href="/teacher/volodya-boykovich")
          .photo
            img(src="https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/14572216_1301468103221212_4453014514259806152_n.jpg?oh=98d6057967cdefdb47a1dab12c1def64&oe=599923A2")
          .name Volodya Boykovich
          .position Software Engineer
          .courses
            i.icon.frontend
          .description Frontend Developer в SeniorDevsOnly. Захоплюється фотозйомкою.

        a.teacher(href="/teacher/yevhen-lysyakov")
          .photo
            img(src="https://www.dropbox.com/s/6z7s3iaa9kgpveu/eugene-lysakov-300x.png?raw=1")
          .name Yevhen Lysyakov
          .position Lead Software Engineer
          .courses
            i.icon.frontend
          .description Lead Frontend Developer в EPAM Systems. Захоплюється екстремальними походами в гори.

        a.teacher(href="/teacher/oleg-lazaryev")
          .photo
            img(src="https://media.licdn.com/media/p/7/000/271/3d7/2ab487f.jpg")
          .name Oleg Lazaryev
          .position Senior Ruby Developer
          .courses
            i.icon.ruby
          .description Рубіст в InterLink LLC, з великим досвідом та глибокими технічними знаннями..

        a.teacher(href="/teacher/volodymyr-stashchenko")
          .photo
            img(src="https://www.dropbox.com/s/fzbn6a68rcjc1yb/volodymyr-stashchenko-300x.jpg?raw=1")
          .name Volodymyr Stashchenko
          .position Lead Ruby Engineer
          .courses
            i.icon.ruby
          .description Senior Ruby розробник в EPAM, з комерційним досвідом 5+ на Java EE &amp; ROR

        a.teacher(href="/teacher/vasyl-lasiak")
          .photo
            img(src="https://www.dropbox.com/s/apiu3h6walp9xyr/vasyl-lasiak-300x300.png?raw=1")
          .name Vasyl Lasiak
          .position Ruby Engineer
          .courses
            i.icon.ruby
          .description Рубіст в Innocode з фулстек досвідом та DevOps скілами

        a.teacher(href="/teacher/volodymyr-kuriy")
          .photo
            img(src="https://www.dropbox.com/s/3y6s8fhy3lc72gw/volodymyr-kyriy-300x?raw=1")
          .name Volodymyr Kuriy
          .position Frontend Engineer
          .courses
            i.icon.frontend
          .description Frontend девелопер у Pixelant AB із 6+ production досвіду

        a.teacher(href="/teacher/yurii-danyliak")
          .photo
            img(src="https://www.dropbox.com/s/eqdrsnhx02oa1ul/yurii-danyliak-300x.png?raw=1")
          .name Yurii Danyliak
          .position Ruby Engineer
          .courses
            i.icon.ruby
          .description Backend-розробник в Matic Insurance. Бекграунд в DBMS, frontend, networking.

        a.teacher(href="/teacher/roman-kryvun")
          .photo
            img(src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/1/005/070/08a/058c0d2.jpg")
          .name Roman Kryvun
          .position Frontend Developer
          .courses
            i.icon.frontend
          .description Front End розробник у Sombra Inc.

        a.teacher(href="/teacher/sergii-storozhenko")
          .photo
            img(src="https://media.licdn.com/media/p/2/000/19c/377/32d6c89.jpg")
          .name Sergii Storozhenko
          .position Senior Software Engineer
          .courses
            i.icon.java
          .description Java Engineer в Remit, експерт по Hybris, захоплюється мотоспортом

      //- .list-of-team
      //-   .player
      //-     .photo
      //-       img(src="/team/ostap-rodomansky.jpg")
      //-     .name Ostap Rodomansky
      //-     .position Marketing

      //-   .player
      //-     .photo
      //-       img(src="/team/olya-karpa.jpg")
      //-     .name Olya Karpa
      //-     .position Recruitment

      //-   .player
      //-     .photo
      //-       img(src="/team/andrew-chestiy.jpg")
      //-     .name Andrew Chestiy
      //-     .position Partnership maker

      //-   .player
      //-     .photo
      //-       img(src="/team/asya-machosuk.jpg")
      //-     .name Asya Machosuk
      //-     .position Students Management

      //-   .player
      //-     .photo
      //-       img(src="/team/lesya-farkish.jpg")
      //-     .name Lesya Farkish
      //-     .position Recruitment

      //-   .player
      //-     .photo
      //-       img(src="/team/natalia-semova.jpg")
      //-     .name Natalia Semova
      //-     .position Partnership maker

      //-   .player
      //-     .photo
      //-       img(src="/team/katya-messonova.jpg")
      //-     .name Katya Messonova
      //-     .position Supports Management

      //-   .player
      //-     .photo
      //-       img(src="/team/alex-odivov.jpg")
      //-     .name Alex Odivov
      //-     .position Management

      //-   .player
      //-     .photo
      //-       img(src="/team/petro-kremen.jpg")
      //-     .name Petro Kremen
      //-     .position Management

      //-   .player
      //-     .photo
      //-       img(src="/team/tamas-bartish.jpg")
      //-     .name Tomas Bartish
      //-     .position Management

      //-   .player
      //-     .photo
      //-       img(src="/team/alexander-wan.jpg")
      //-     .name Alexander Wan
      //-     .position Management

      //-   .player
      //-     .photo
      //-       img(src="/team/anton-pismarovic.jpg")
      //-     .name Anton Pismarovic
      //-     .position Management

      //-   .player
      //-     .photo
      //-       img(src="/team/anya-metova.jpg")
      //-     .name Anna Metova
      //-     .position Supports Management
