extends ../../common/layout.pug

block vars
  - var page = "index"

block title
  | Школа програмування | CURSOR Education

block content
  include _intro.pug
  include _about-us.pug
  include _benefits.pug
  include _educational-programms.pug
  include _consultation.pug
  include _job-support.pug
  include _trainers.pug
  include _feedbacks.pug
  include _how-we-started.pug
  include _graduate-s-contacts.pug
  include _true-about-it.pug
  include _statistics.pug
  include ../_partials/gallery.pug
  include _order_call.pug
  include ../_partials/footer.pug
  //- include ../_partials/map.pug
  include ../_partials/social-icons.pug
  include ../_partials/people.pug
  include ../_partials/copyright.pug
