section.section#hours-336
  .section-wrapper
    .section-title
      | Для вивчення HTML, CSS та JavaScript&nbsp;
      span.highlight потрібно 336 годин!
      | &nbsp;*
    .section-content
      .box
        .cell.hours-per-day
          .icon
          .title 4 години/день
        .cell.days-per-week
          .icon
          .title 7 днів/тиждень
        .cell.weeks
          .icon
          .title 3 місяці

      .description * 336 годин = 4 години х 7 днів х 3 місяці (12 тижнів)

      .ask-more
        .button.styled.frontend.large(data-template="more-about-program-template") Дізнатись більше

script(type="text/template")#more-about-program-template
  form
    h3 Ми розкажемо вам більш детальніше про унікальність нашої програми, та те, що ми додали в 2017 році.
    h3 Залиште свої контактні дані, щоб ми змогли з вами зв'язатися:
    .field.first
      .label Ім'я:
      input(required type="text" name="name" placeholder="Тарас Шевченко")
    .field
      .label Телефон:
      input(required type="text" name="phone" placeholder="093 123 45 67")
