section.section#answers
  .section-wrapper
    .section-title
      span.highlight Відповіді
      | &nbsp;ТУТ
    .section-subtitle Ми любимо запитувати практично так же, як і любимо відповідати на них. Тут зібрані найчастіші питання та відповіді на них.
    .section-content
      .list-of-questions
        .question
          .title Чи варто мені обирати CURSOR.EDUCATION?
          .answer
            p Якщо Ви хочете перекваліфікуватись чи просто почати свою карєру в програмуванні, то CURSOR.EDUCATION саме для Вас. Після завершення навчання наші Випускники займаються любимою справою - програмуванням, та приносять користь своєю роботою.
            p Наші співробітники - це Програмісти, Ментори та Саппорти, які дійсно працюють в ІТ компаніях, і кожного дня працюють з різними технологіями.
            p Наші навчальні програми регулярно оновлюються (кожного курсу) і включають лише актуальні технології.
        .question
          .title Я новачок і нічого не розумію в програмуванні, чи варто мені починати?
          .answer
            p Авжеж так! Якщо Вас вже зацікавила тематика програмування - то варто спробувати.
            p Ми готові надати Вам безкоштовні попередні матеріали, аби Ви змогли зрозуміти чи зможете Ви програмувати і чи складно для Вас чи ні!
        .question
          .title Чи можу Я дійсно навчитись програмувати, пройшовши програму CURSOR.EDUCATION?
          .answer
            p Так, але Вам потрібно багато працювати та витрачати на навчання не менше 4 годин в день. У нас немає чарівних таблеток та інших магічних засобів навчання.
            p Навчальна програма побудована так, аби Ви практично освоїли технології, грунтуючись на міні-проектах та отримуючи максимальну кількість досвіду не лише в програмуванні, а й в життєвому циклі розробки.
        .question
          .title Чи повернете Ви гроші, якщо Навчання мені не підійде?
          .answer
            p Так, звичайно. Якщо Ви відмовляєтесь від навчання ДО початку навчального курсу - Ми повертаємо Вам повну суму, яку Ви оплатили.
            p Якщо Ви відмовляєтесь від навчання ДО кінця 2-го тижня навчальної програми - Ми повертаємо Вам 70% суми, яку Ви оплатили.
        .question
          .title Який процес реєстрації на навчання?
          .answer
            p Все починається з реєстрації на цьому сайті.
            p Ми перетелефонуємо Вам і скинемо попередні підготовчі матеріали.
            p Ви спробуєте повчитись безкоштовно і в разі успіху (якщо Вас сподобається програмувати) - Ми почнемо говорити про більш серйозне та структуроване навчання.
        .question
          .title Яка кількість студентів в групі?
          .answer
            p В одній навчальній групі у нас навчаються не більше 10 людей.
        .question
          .title Що мені потрібно для навчання?
          .answer
            p Вам потрібно мати свій ноутбук чи компютер, адже ви будете багато працювати та програмувати. Також, Вам потрібен вихід в мережу інтернет.
        .question
          .title Який диплом Я отримаю після завершення навчання?
          .answer
            p CURSOR.EDUCATION не є акредитованою установою. Тому диплом, яки Ви отримаєте - не буде грати вирішальну роль при працевлаштуванні.
            p Тим не менше, Вам і не потрібен диплом щоб отримати роботу в галузі ІТ. Переважно, Наші студенти знаходять швидко роботу після завершення навчання. Все це завдяки тому, як вони демонструють свою пристрасть до програмування, високий технічний рівень та достатній досвід, який Вони отримують До, Під час і після завершення навчання.
            p Основне, що грає роль - це Ваша здатність писати хороший код. А цього ми вчимось на наших “важких” навчальних програмах.
        .question
          .title Як ми допомагаємо в пошуку роботи?
          .answer
            p Допомога в пошуку роботи починається ще з самого початку навчання.
            p Ми розказуємо про те, як працює ІТ, які підводні камені там є, моделі ІТ компаній і тп.
            p Ми даємо Вам колосальну кількість технічних навиків, що значно спрощує процес найму Вас, як програміста.
            p Крім технічних навиків Ви вчитесь працювати в команді, працюєте за методологіями розробки, вчитесь базовим принципам управління проектами, отримуєте навички ефективного делегування та працювати з дедлайнами.
            p Ми показуємо Вам найкращі шляхи пошуку роботи та повністю пояснюємо як краще “продати” себе на ринку праці.
            p А також, у нас є програма підтримки працевлаштування - Job Support. Яка повишає шанси на працевлаштування в декілька разів :)
        .question
          .title Який рівень англійської мені потрібен?
          .answer
            p На це питання можна відповісти з двох сторін.
            p Перший, Для навчання Вам потрібен рівень “розуміння з перекладачем”. А всю термінологію та матеріали Ми пояснюємо.
            p Другий момент, це для Працевлаштування Вам потрібен хоча б intermediate рівень. Адже в ІТ англійська грає важливу роль. Звичайно, що на початку карєри Ви не будете спілкуватись з іноземними замовниками, але все ж таки - Ваш рівень Англійської може відіграти основну роль при працевлаштуванні.
        .question
          .title Як отримати знижку на навчання?
          .answer
            p Знижку на навчання отримати дуже просто.
            p Ми вважаємо, що навчатись разом з друзями - цікавіше та ефективніше. Тому і дешевше!
            p Якщо Ви будете навчатись з 1 другом - то отримаєте 15% знижку собі, та 10% знижку другові.
            p Якщо Ви будете навчатись з 2 друзями - то отримаєте 20% знижку собі, та 15% знижку друзям.
            p Якщо Ви будете навчатись з 3 друзями - то отримаєте 25% знижку собі, та 20% знижку друзям.
        .question
          .title Як виглядає оплата за навчання?
          .answer
            p Оплата за навчання переважно здійснюється наступним чином.
            p Обговоривши всі деталі про навчання, Ви робите передоплату в розмірі 30% від загальної вартості навчання. Далі, залишкову оплату за навчання (залишкові 70%) Ви здійснюєте протягом 1-го навчального тижня.
        .question
          .title Чи Я можу розбити оплату на декілька частин?
          .answer
            p Так, оплату можна розбити на 3 або 4 платежі.
            p Якщо Ви оберете оплату 3-ма платежами, то до загальної суми додасться 10%. Якщо Ви оеберете оплату 4-ма платежами, то до загальної суми додасться 20%

    .section-title Залишились запитання?
    .section-content.more-questions
      .button.large.styled.frontend.large(data-template="schedule-call-template") Замовити дзвінок
      div.write-us
        span Або напиши нам:
        a(href="support@cursor.education") support@cursor.education

script(type="text/template")#schedule-call-template
  form
    h3 Залиште свої дані, щоб ми могли до вас зателефонувати, та надати більше інформації:
    .field.first
      .label Ім'я:
      input(required type="text" name="name" placeholder="Тарас Шевченко")
    .field
      .label Телефон:
      input(required type="text" name="phone" placeholder="093 123 45 67")
