section.section#course-button
  .section-wrapper
    .button.styled.while.large(data-template="order3-template") Дізнатись детальніше про навчання

script(type="text/template")#order3-template
  form
    h3 Окрім детальнішої інформації про навчання, ми також можемо поділитись матеріалами із попереднього курсу та контактами попередніх випускників.
    h3 Залиште свої дані, щоб ми могли з вами зв'язатися:
    .field.first
      .label Ім'я:
      input(required type="text" name="name" placeholder="Тарас Шевченко")
    .field
      .label Телефон:
      input(required type="text" name="phone" placeholder="093 123 45 67")
