section.section#quick-details
  .section-wrapper
    .cols
      //- .col
      //-   .label Онлайн наживо
      //-   .desc Тип навчання
      .col
        .label 12 тижнів (36+ занять)
        .desc Термін навчання
      .col
        .label 3 рази/тиждень
        .desc Розклад занять
      .col
        .label 4
        .desc Вільних місць
      .col
        .label Вечірній час, 19:00
        .desc Час проведення занять
