section.section#correctly-designed-education
  .section-wrapper
    .section-title
      | Навчання, яке&nbsp;
      span.highlight розроблене правильно
    .section-subtitle або Чому ця програма дає потрібний результат
    .section-content
      .line.f1.left
        .image
        .text
          h4 Формат Заняття #1 - Simple Lecture
          p Це класичні заняття з новим матеріалом, на якому ментор повністю погружає вас в новий матеріал.
      .line.f2.right
        .text
          h4 Формат Заняття #2 - Live coding (Practice)
          p Заняття на яких Ви наживо кодите разом з ментором. Програмування - це не лише прямолінійність, це також і мистецтво. Тому Ми вчимось і переймаємо те, як мислять і програмують кращі із своїх кіл - розробники із багаторічним досвідом. Адже вони можуть реалізувати в 10 рядків коду те, що ви реалізовуєте в 200.
        .image
      .line.f3.left
        .image
        .text
          h4 Формат Заняття #3 - Frameworks
          p Це заняття, на якому Ви вчите нові фреймворки та розбираєтесь в їхній роботі. Адже Frameworks - це одні з надважливих інструментів любого розробника.
      .line.f4.right
        .text
          h4 Немає Д/З. Тільки Міні-Проекти.
          p В нас немає домашніх завдань - лише Міні-Проекти. За Міні-Проекти ми беремо частини з реальних проектів, які найчасніше попадаються при роботі в айті компанії. Кожен міні-проект має чітко прописане Технічне Завдання (ТЗ) - за допомогою чого ви одразу вчитесь працювати в умовах справжнього процесу розробки. Після здачі Міні-Проекти Ви отримуєте декілька зворотніх звязків по Вашому виконанні, а також відеозапис того, як найправильніше варто реалізувати схожі завдання.
        .image
      .line.f5.left
        .image
        .text
          h4 Декілька менторів
          p Навчальна програму проводять одразу декілька менторів (3+), що дає можливість навчатись з різними підходами та темпами.
      .line.f6.right
        .text
          h4 Сила Supports
          p В процесі навчання за ваші успіхи несе відповідальність ваш саппорт. Саппорт - це людина, яка раніше зустрічалась з такими ж проблемами на початку вивчення програмування. Вони знають всі підводні камені навчальної програми, знають всі складні моменти, які можуть зупинити вас в процесі навчання. Це людина, з якою ви будете кожного дня прокидатись і засинатись.
        .image
      .line.f7.left
        .image
        .text
          h4 Тести - як тип Контролю
          p Ми використовуємо тести як метод аналізу Вашої динаміки в навчанні. А також - це дає змогу зрозуміти, які теми даються групі важче і на що варто виділити більше часу.
      .line.f8.right
        .text
          h4 Peer-Review Code.
          p В процесі навчання Ви завжди активно спілкуєтесь з своїми одногрупниками за допомогою техніки Peer Review Code. Тобто - щоб здати Ваш Міні-проект Вам потрібно щоб його переглянуло та підтвердило вірність як мінімум 2 Ваших одногрупники. Ви завжди спілкуєтесь не лише з Викладачами та Менторами, а й з своїми одногрупниками та обмінюєтесь своїми помилками.
        .image
      .line.f9.left
        .image
        .text
          h4 Декілька типів міні-проектів
          p Індивідуальні (персональні)
          p В малих командах (2-3 чол)
          p В більших командах (5 чол)
      .line.f10.right
        .text
          h4 Сила зворотнього звязку.
          p Процес перевірки Міні-проекту це завжди як мінімум 3 Feedbacks. Процес перевірки Міні-проекту виглядає наступним чином:
          p Перевірка Вашими одногрупниками (х2) - Feedback
          p Перевірка Менторами - Feedback
          p Перевірка Тренерами - Feedback
        .image
      .line.f11.left
        .image
        .text
          h4 Занурення в робочий процес
          p З самого початку навчання - Ви починаєте навчатись в умовах максимально наближених до моделі справжної Розробки, а саме:
          p по методології розробки Agile - Kanban;
          p повністю використовуєте GitHub;
          p використовуєте один з потужних методів росту в програмуванні - peer review code;
          p працюєте чітко по Технічному Завданні;
          p пишете daily status та звітуєтесь перед “замовником”;
      .line.f12.right
        .text
          h4 Тримаємо в тонусі
          p За допомогою багатьох контактів в процесі спілкування (Студент ←→  Ментор, Студент ←→  Тренер, Студент ←→  Студент, Студент ←→  Організатор) Ми тримаємо Вас в тонусі та постійному розвитку. Також Ви несете відповідальність перед іншими студентами за перевірки та групові Міні-проекти.
        .image

