section.section#job-support-and-moneyback
  .section-wrapper
    .section-title
      span.highlight Підтримка працевлаштування
      | &nbsp;та повернення грошей
    .section-content
      .picture
      .text
        h4 Job Support.
        p Протягом 180 днів після завершення навчання Наші студенти отримують підтримку в працевлаштуванні.

        h4 Що таке Job Support?
        ul
          li Це чіткі умови Двохсторонньої відповідальності за Працевлаштування. Ми відповідаємо за працевлаштування Студентів, а Студенти відповідають за виконання поставлених нами задач.
          li 6 додаткових Рекрутерських Консультацій та розборів польотів.
          li Якщо протягом 180 днів Ви не знайдете роботу, то отримаєте 100% вартості навчання назад.

        p
          .button
            a(href="/job-support") Читайте більше ТУТ.

        p Також, Ми хочемо бути впевненими в Вашій підготовленості до серйозної роботи, тому кожна навчальна програма завжди включає в себе:
        ul
          li Роботу з resume, LinkedIn, Stack Overflow, GitHub та іншими соц.мережами.
          li Пробні Технічні та Рекрутерські співбесіди.
          li Роботу з Вашими соціальними, комунікативними та Soft навичками.
          li Використання досвіду з реальних Міні-проектів.
          li Роботу з усвідомленням правильної мотивації та цілей.
          li Використання методології розробки та code review.
