section.section#lectors
  .section-wrapper
    .section-title
      | Тренери та&nbsp;
      span.highlight команда школи
    .section-content

      .list-of-trainers

        a.teacher(href="/teacher/viktor-abramov")
          .photo
            img(src="https://cs540101.userapi.com/c638123/v638123513/22fad/fIwm6IxZHcE.jpg")
          .name Viktor Abramov
          .position Software Engineer
          .courses
            i.icon.frontend
          .description Senior Frontend Engineer, 6+ років досвіду в IT, IFBB спортсмен, ко-фаундер Uboro GPS Tracking System.

        a.teacher(href="/teacher/volodymyr-sen")
          .photo
            img(src="https://www.dropbox.com/s/crovgdepvb4oujy/volodymyr-sen.png?raw=1")
          .name Volodymyr Sen
          .position Software Engineer
          .courses
            i.icon.frontend
          .description Frontend Engineer в EPAM Systems з більше 6+ років досвіду.

        a.teacher(href="/teacher/roman-rodomansky")
          .photo
            img(src="https://www.dropbox.com/s/wgsuhgrrka4ayqj/roman-rodomansky-300x300.png?raw=1")
          .name Roman Rodomansky
          .position Software Engineer
          .courses
            i.icon.frontend
          .description Senior Engineer, 6+ років досвіду в IT, доповідач та організатор технічних івентів.

        a.teacher(href="/teacher/volodya-boykovich")
          .photo
            img(src="https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/14572216_1301468103221212_4453014514259806152_n.jpg?oh=98d6057967cdefdb47a1dab12c1def64&oe=599923A2")
          .name Volodya Boykovich
          .position Software Engineer
          .courses
            i.icon.frontend
          .description Frontend Developer в SeniorDevsOnly. Захоплюється фотозйомкою.

        a.teacher(href="/teacher/yevhen-lysyakov")
          .photo
            img(src="https://www.dropbox.com/s/6z7s3iaa9kgpveu/eugene-lysakov-300x.png?raw=1")
          .name Yevhen Lysyakov
          .position Lead Software Engineer
          .courses
            i.icon.frontend
          .description Lead Frontend Developer в EPAM Systems. Захоплюється екстремальними походами в гори.

        a.teacher(href="/teacher/volodymyr-kuriy")
          .photo
            img(src="https://www.dropbox.com/s/3y6s8fhy3lc72gw/volodymyr-kyriy-300x?raw=1")
          .name Volodymyr Kuriy
          .position Frontend Engineer
          .courses
            i.icon.frontend
          .description Frontend девелопер у Pixelant AB із 6+ production досвіду

        a.teacher(href="/teacher/roman-kryvun")
          .photo
            img(src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/1/005/070/08a/058c0d2.jpg")
          .name Roman Kryvun
          .position Frontend Developer
          .courses
            i.icon.frontend
          .description Front End розробник у Sombra Inc.
