section.section#previous-materials
  .section-wrapper
    .section-title
      | Попередні матеріали та&nbsp;
      span.highlight 3 заняття БЕЗКОШТОВНО
      | &nbsp;!
    .section-subtitle Щоб спростити процес навчання Ви можете пройти невеликий тест, який визначає ваш загальний рівень знань щодо ІТ тематики. Відвідно до вашого результату - ви отримаєте безкоштовні попередні матеріали для навчання та 3 уроки за нашим форматом.
    .section-content
      h4.title1
        | 3 (три) заняття за форматом&nbsp;
        .brand-name
          .word-cursor CURSOR
          .word-education .EDUCATION
        | &nbsp;це:

      ul.details
        li 6 годин лекцій
        li 8 годин практики
          ul
            li 4 технічних домашніх завдання
            li 1 технічний міні-проект по фреймворку
            li відео-запис покрокового розвязання кожного з дз

      h4.title2 Хочеш отримати тест та матеріали для навчання?
      .button.styled.frontend.large(data-template="download-materials-template") Скачати тут

script(type="text/template")#download-materials-template
  form
    h3 Щоб отримати матеріали та тест, залиште свої контакті дані по яких ми зможемо з вами зв'язатися:
    .field.first
      .label Ім'я:
      input(required type="text" name="name" placeholder="Тарас Шевченко")
    .field
      .label Телефон:
      input(required type="text" name="phone" placeholder="093 123 45 67")
    .field
      .label Мейл:
      input(required type="text" name="email" placeholder="ivan@gmail.com")
