section.section#preconditions
  .section-wrapper
    .section-title
      span.highlight Бажані передумови
      | &nbsp;для продуктивного навчання
    .section-content

      h4 Загальні передумови
      .sect
        ul
          li Ви є самомотивовані та сильно мотивовані навчатись. Ви розумієте, що для максимального результату потрібно виконувати всі завдання, які ставляться протягом навчання. А також - можете приділяти 3-4/години в день навчанню.
          li Ви підтримуєте хороший рівень англійської (письмовий та усний)
          li Ви готові внести свій вклад в успіх програми, в тому числі у співпраці з іншими студентами і дати нам зворотний зв'язок про те, як ми можемо покращити.

      h4 Технічні передумови
      .sect
        ul
          li У вас є доступ до комп'ютера з підключенням до Інтернету, на якого Ви будете встановлювати текстовий редактор (наприклад. Sublime Text або Atom)
          li Ви розумієте, що Google це невідємна річ в роботі програміста і готові вчитись шукати відповіді на свої проблеми методом “Гугління”.
