section.section#prices
  .section-wrapper
    .section-content
      .prices-wrap
        .cell
          .price-item
            .title FRONT-END dev
            .subtitle Повна навчальна програма
            .desc
              ul
                li 12 тижнів вивчення технологій FRONT-END
                li Жива комунікація з Менторами
                li Підтримка Supports
                li Навчання побудоване на міні-проектах
                li Навчання за методологією розробки
                li Навчання в умовах імітації роботи
                li Випускний рівень - strong Junior* (при умови виконання всіх міні-проектів)
            .places
              .t1 Залишилось:&nbsp;
              .t2 3 місця
            .details
              .t1 Середньостатистиче працевлаштування:
              .t2 47% - 3/6 студентів
            .price
              | 9400 грн
            .price-hint
              | (при оплаті до 22 квітня)
            .button-wrap
              .button.large.styled.frontend(data-template="lead-template") Забронювати місце
        .cell
          .price-item
            .title FRONT-END dev + Job
            .subtitle Повна навчальна програма + працевлаштування
            .desc
              ul
                li Повна основна програма* (все що ліворуч)
                li Бонусні заняття
                li 6 місячна підтримка в працевлаштуванні
                li Якщо Ви не працевлаштуєтесь протягом 6 місяців після випуску - Повне повернення оплати.
            .places
              .t1 Залишилось:&nbsp;
              .t2 1 місце
            .details
              .t1 Середньостатистиче працевлаштування:
              .t2 78% - 3/4 студентів
            .price
              | 12800 грн
            .price-hint
              | (при оплаті до 22 квітня)
            .button-wrap
              .button.large.styled.frontend(data-template="lead-template") Забронювати місце

script(type="text/template")#lead-template
  form
    h3 Щоб зарезервувати місце, залиште свої контакті дані по яких ми зможемо з вами зв'язатися:
    .field.first
      .label Ім'я:
      input(required type="text" name="name" placeholder="Тарас Шевченко")
    .field
      .label Телефон:
      input(required type="text" name="phone" placeholder="093 123 45 67")
