section.section#technologies
  .section-wrapper
    .section-title
      span.highlight Технології
      | &nbsp;, з якими ми будемо працювати протягом навчання
    .section-content
      .items
        .item.http
          .icon
          .label HTTP
        .item.dns
          .icon
          .label DNS
        .item.unix-shell
          .icon
          .label Unix Shell
        .item.git
          .icon
          .label Git
        .item.github
          .icon
          .label Github
        .item.javascript
          .icon
          .label JavaScript
        .item.es6
          .icon
          .label ES6
        .item.babel
          .icon
          .label Babel
        .item.html5
          .icon
          .label HTML5
        .item.css3
          .icon
          .label CSS3
        .item.less
          .icon
          .label LESS
        .item.sass
          .icon
          .label SASS
        .item.jquery
          .icon
          .label jQuery
        .item.underscorejs
          .icon
          .label Underscore.js
        .item.lodash
          .icon
          .label Lodash
        .item.angularjs
          .icon
          .label AngularJS
        .item.npm
          .icon
          .label NPM
        .item.nodejs
          .icon
          .label Node.js
        .item.karma
          .icon
          .label Karma
        .item.mocha
          .icon
          .label Mocha
        .item.yeoman
          .icon
          .label Yeoman
        .item.bower
          .icon
          .label Bower
        .item.grunt
          .icon
          .label Grunt
        .item.gulp
          .icon
          .label Gulp
        .item.webpack
          .icon
          .label Webpack
        .item.mustache
          .icon
          .label mustache
        .item.dotjs
          .icon
          .label Dot.js
        .item.pug
          .icon
          .label Pug
        .item.angular-material
          .icon
          .label Angular Material
        .item.bootstrap
          .icon
          .label Bootstrap
        .item.materialize
          .icon
          .label Materialize
        .item.semantic-ui
          .icon
          .label Semantic UI
