section.section#top-description
  .section-wrapper
    .section-title
      span.highlight Створюйте
      | &nbsp;адаптивні та динамічні веб-сайти
    .section-subtitle Ви будете поєднувати мистецтво з справжніми інструментами веб-розробників. Javascript дає можливість розробникам працювати з клієнтською частиною та задавати неймовірну динамічність веб-додаткам. Вивчіть основні та інші більш глибокі інструменти веб-розробника для конкурентноспроможності в цій галузи з FRONT-END Education.

    .section-content
      .box
        .cell.html-css
          .icon
          .label HTML &amp; CSS
          .description 1
        .cell.adaptive
          .icon
          .label Адаптивний дизайн
          .description 2
        .cell.js
          .icon
          .label Акцент на JavaScript
          .description 3
        .cell.interactive
          .icon
          .label Створюйте інтерактивність
          .description 4
        .cell.complex-websites
          .icon
          .label Будуйте складні веб-сайти
          .description 5
        .cell.check-yourself
          .icon
          .label Перевіряйте себе
          .description 6

      .ask-more
        .button.styled.while.large(data-template="ask-more-about-web-developer-template") Дізнатись більше про середньостатистичного веб-програміста

script(type="text/template")#ask-more-about-web-developer-template
  form
    h3 Ми надамо вам відповіді на любі ваші запитання про професію веб-програміста.
    h3 Залиште свої дані, щоб ми могли з вами зв'язатися:
    .field.first
      .label Ім'я:
      input(required type="text" name="name" placeholder="Тарас Шевченко")
    .field
      .label Телефон:
      input(required type="text" name="phone" placeholder="093 123 45 67")
