//- section.section#video
//-   .section-wrapper
//-     .section-content
//-       div test

section.section#feedback-video
  .section-wrapper
    .youtube-wraper
      .youtube-video
        .label Богдан
        iframe(width="720" height="405" src="https://www.youtube.com/embed/l9g86TWH5O4?&showinfo=0&vq=hd720&hd=1" frameborder="0" allowfullscreen data-ga="bogdan")

      .youtube-video
        .label Віталій
        iframe(width="720" height="405" src="https://www.youtube.com/embed/qcoY3ndq-Uw?&showinfo=0&vq=hd720&hd=1" frameborder="0" allowfullscreen data-ga="vitaliy")

      .youtube-video
        .label Олеся
        iframe(width="720" height="405" src="https://www.youtube.com/embed/1xs5V2GdgFo?&showinfo=0&vq=hd720&hd=1" frameborder="0" allowfullscreen data-ga="olesya")

      .youtube-video
        .label Микола
        iframe(width="720" height="405" src="https://www.youtube.com/embed/QjW8SPrwQJs?&showinfo=0&vq=hd720&hd=1" frameborder="0" allowfullscreen data-ga="mykola")

    .more
      a.button.styled.white.large(href="https://www.youtube.com/playlist?list=PLrnIcEtLtMOaue7MEelY_chShyOq8sfZW" target="_blank") Більше відгуків на YouTube
