section.section#what-will-we-learn
  .section-wrapper
    .section-title
      | Короткий опис&nbsp;
      span.highlight програми навчання
    .section-subtitle Або що ми будемо вчити
    .section-content
      .t1 Уся суть програми курсу складена з підходом плавного переходу між кожними важливими частинами курсу.
      ul
        li
          | Ми розпочнемо з&nbsp;
          b network overview
          | , який дасть розуміння того, як працює браузер та роль фронтенд у ньому
        li
          | Паралельно протягом усього курсу - ми вчимось працювати з&nbsp;
          b теміналом
        li
          | Далі, ми починаємо працювати із VCS -&nbsp;
          b Git &amp; Github
        li
          | Наступним, і доволі важливим є розділ курсу&nbsp;
          b HTML &amp; HTML5
          | , в якому буде доволі багато командних домашок.
        li
          | Далі, ми пройдемося по&nbsp;
          b CSS &amp; CSS3
          | , паралельно використаємо знання із попереднього блоку, та будемо працювати з адаптивною версткою (responsive web design).
        li
          | Наступний, і самий об'ємний розділ курсу -&nbsp;
          b JavaScript
          | , протягом якого ми будемо використовування знання із кожного (кожного!) попереднього заняття.
        li
          | Протягом попередніх блоків, ми також розказуємо про&nbsp;
          b оптимізацію&nbsp;
          | веб частини, вчимось порівнювати та покращувати&nbsp;
          | performance сторінки.
        li
          | Після засвоєння HTML, CSS та JavaScript, ми переходимо до&nbsp;
          b frontend tools&nbsp;
          | протягом якого активно працюємо із&nbsp;
          b npm, Grunt/Gulp, Bower, template engines,&nbsp;
          | та іншими.
        li
          | А тепер найцікавіше, це готові рішення багатьох можливих проблем -&nbsp;
          b frameworks&nbsp;
          | та&nbsp;
          b design patterns.
          | Серед фреймворків ми встигемо попрацювати із&nbsp;
          b Angular&nbsp;
          | та поверхнево подивимося на декілька інших, не менш популярних.
        li
          | Також, ми використовуємо зміни, які сталися в&nbsp;
          b ES6&nbsp;
          | та використовуючи Babel та інші корисні тулзи, пишемо код із новим синтаксисом та новими можливостями.
      br

      .detailed-list
        .block
          .title (bonus) Introduction talk
        .block
          .title (bonus) Motivation and processes
        .block.bold
          .title (bonus) Environment
        .block.bold
          .title (bonus) Network
        .block.bold
          .title (bonus) Git &amp; GitHub
        .block.bold
          .title (bonus) GitHub Pages &amp; Gitflow
        .block.bold
          .title HTML &amp; CSS essentials
        .block
          .title Bootstrap, Materialize and Semantic UI
        .block.bold
          .title HTML/CSS advanced (\w Foundation and Skeleton)
        .block.bold
          .title RWD (responsive) markup
        .block
          .title Skeleton, Foundation and Grid System
        .block.bold
          .title Pre-/Post- &amp; tools
        .block
          .title SASS, LESS and Pug
        .block
          .title npm scripts, hot reloading, Bower and Wiredep
        .block.bold
          .title JavaScript basics (\w functions &amp; data types)
        .block
          .title Moment.js, JSHint, debugger
        .block.bold
          .title DOM &amp; BOM (\w jQuery samples)
        .block
          .title Sizzle, Vanilla JS, validation and jQuery
        .block.bold
          .title JS OOP &amp; Inheritance
        .block
          .title Node.js &amp; NPM introduction
        .block.bold
          .title AJAX &amp; Network
        .block
          .title JSON, CORS, Fetch, Schema.io and WebSockets talk
        .block.bold
          .title JS Tools
        .block
          .title Grunt, Gulp, testing
        .block.bold
          .title Templates &amp; Design Patterns (\w MV*)
        .block
          .title Dot.js, Mustache and Pug
        .block
          .title Angular1
        .block.bold
          .title ES6 \w Babel
        .block
          .title Angular-Material

      a.button.styled.frontend.large(href="https://gist.github.com/itspoma/882cc23f9b168f6bbe6f17ea9ff933c7" target="_blank") Ще більш детальна програма курсу (github gist)

      //- img(src="https://www.dropbox.com/s/xpk4z20zj87pmpp/Screen%20Shot%202017-04-04%20at%205.22.29%20PM.png?raw=1")

    //- .timeline
    //-   .timeline-block.left
    //-     .timeline-content
    //-       p Знайшовши однодумців - ми задумались - Як можна реалізувати себе в ІТ з іншої сторони?
    //-   .timeline-block.right.move-top-100
    //-     .timeline-content
    //-       p І саме тоді - наші друзі, які щиро хотіли змінити своє буденне життя та були відкриті до нових можливостей - закікавились програмуванням на підкинули Нам ідею - навчити їх.
    //-       p Це був неофіційний початок CURSOR.Education. Протягом 6 місяців Ми збиралися в різних місцях та вчилися разом. Ми вчились структуризувати інформацію і правильно розставляти акценти, а наші друзі - вчили програмування :)
    //-   .timeline-block.left.move-top-150.orange-circle
    //-     .timeline-content
    //-       p Ми захопилися процесом навчання, він почав приносити нам задоволення і змінювати наше ставлення до людей. Але найбільше задоволення Ми відчули, коли наші друзі - змогли себе реалізувати як програмісти. Вже тоді ми зрозуміли - ніщо так не мотивує, як круті результати твоїх підопічних.
    //-   .timeline-block.right.move-top-100
    //-     .timeline-content
    //-       p Ми захопилися процесом навчання, він почав приносити нам задоволення і змінювати наше ставлення до людей. Але найбільше задоволення Ми відчули, коли наші друзі - змогли себе реалізувати як програмісти. Вже тоді ми зрозуміли - ніщо так не мотивує, як круті результати твоїх підопічних.
