extends ../../common/layout.pug

block vars
  - var page = "course"

block title
  | Школа програмування | CURSOR Education

block content
  include _intro.pug
  include _details.pug
  include _top-description.pug
  include _who-suit-to-program.pug
  include _lectors.pug
  include _technologies.pug
  include _what-will-we-learn.pug
  include _job-support-and-moneyback.pug
  include _prices.pug
  include _video.pug
  include ../index/_feedbacks.pug
  include ../_partials/gallery.pug
  include ../_partials/people.pug
  include _answers.pug
  include _previous-materials.pug
  include _education-which-designed-correctly.pug
  include _336-hours.pug
  include _preconditions.pug

  //- include _what-you-will-know.pug
  //- include _what-is-level-gradation.pug
  //- include _statistics.pug
  //- include _get_two_graduates_contacts.pug
  //- include _free.pug
  include _course_button.pug

  //- include ../_partials/map.pug
  include ../_partials/footer.pug

  include ../_partials/social-icons.pug
  include ../_partials/copyright.pug
