section#footer {
  display: none;

  background: #fafafa;
  background: #303842;

  color: #fff;

  .cols {
    display: inline-table;

    .col {
      display: table-cell;
      vertical-align: top;
    }
  }

  .contact-info {
    // width: 25%;
    // background: red;

    .logo {
      // background: #777;
      width: 100px;
      height: 60px;
      margin-bottom: 15px;

      .icon {
        background: transparent;
        background-image: url("/footer-logo.png");
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        background-size: 100%;
      }
    }

    .info {
      margin-bottom: 20px;
      letter-spacing: 0.3px;
      font-style: 14px;
    }

    .phone,
    .email,
    .address {
      margin-bottom: 14px;
      font-size: 13px;
      letter-spacing: 0.4px;

      a {
        color: inherit;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      &:before {
        content: '';
        display: inline-block;
        background: transparent;
        background-size: 100%;
        background-repeat: no-repeat;
        width: 10px;
        height: 10px;
        margin-right: 5px;
      }
    }

    .phone {
      &:before {
        background-image: url(/icons/phone-26.png)
      }
    }

    .email {
      &:before {
        background-image: url(/icons/email-50.png);
      }
    }
  }

  .useful-links {
    width: 25%;
    // background: blue;

    .title {
      text-transform: uppercase;
    }

    .links {
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      font-size: 13px;
      letter-spacing: 0.2px;
      margin-top: 20px;

      li {
        width: 50%;
        float: left;
        flex-grow: 1;
        position: relative;
        margin-bottom: 10px;
        min-height: 15px;

        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }

  // .courses {
  //   width: 200px;
  //   background: green;

  //   .widget {
  //     .title {
  //       text-transform: uppercase;
  //     }
  //   }
  // }

  // .subscribe {
  //   width: 200px;
  //   // background: yellow;
  // }
}
