#gallery {
  // background: red;
  // padding: 50px 0px;
  text-align: center;

  .images {
    // background: blue;

    width: 1200px;

    margin-left: auto;
    margin-right: auto;

    user-select: none;

    &:hover {
      img {
        opacity: 0.4;
      }
    }

    img {
      display: inline-block;
      vertical-align: top;
      // width: 10%;
      width: 125px;

      margin: 0px 3px 6px 3px;

      filter: sepia(.3) contrast(1.1) brightness(1) grayscale(1);
      cursor: default;

      transition: filter 0.1s ease-in-out,
                  opacity 0.1s ease-in-out;

      &:hover {
        opacity: 1;
        filter: contrast(1.3);
      }
    }

    @media screen and (max-width: 1200px) {
      width: 100%;

      img {
        width: 10%;
      }
    }

    @media screen and (max-width: 700px) {
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;

      img {
        width: 20%;
        // filter: none;
      }
    }
  }

  .button.follow {
    margin-right: 10px;
  }

  .button {
    position: relative;

    i.icon.external {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-left: 9px;
      vertical-align: -3px;
      background-color: blue;
      background-color: transparent;
      background-image: url(/icons/External-Link-Squared-Filled-100.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100%;
    }

    // &:after {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   width: 10px;
    //   background: blue;
    //   z-index: 1;
    // }
  }
}
