#social-icons {
  background: #f1f1f1;

  .section-content {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .fb-like {
    display: block;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .social-icons-list {
    display: inline-table;
    width: 100%;

    .social {
      // background: red;
      display: table-cell;
      text-align: center;
      width: 16.6%;
      vertical-align: top;

      a {
        display: inline-block;
        padding: 15px;
        text-decoration: none;
        color: inherit;

        &:hover {
          background: white;
        }
      }

      .icon {
        width: 50px;
        height: 50px;

        background: transparent;
        // background: blue;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center center;

        opacity: 0.8;

        &.facebook {
          background-image: url("/icons/facebook-xxl-black.png");
        }

        &.vk {
          background-image: url("/icons/vk-xxl-black.png");
        }

        &.linkedin {
          background-image: url("/icons/linkedin-xxl-black.png");
        }

        &.instagram {
          background-image: url("/icons/instagram-6-xxl-black.png");
        }

        &.github {
          background-image: url("/icons/github-10-xxl-black.png");
        }

        &.google {
          background-image: url("/icons/google-xxl-black.png");
        }
      }

      .title {
        // background: green;
        margin-top: 20px;
        font-weight: 500;
        color: #535353;

        .title-icon {
          display: inline-block;
          width: 12px;
          height: 12px;
          margin-right: 5px;

          background: blue;
          background: transparent;
          background-repeat: no-repeat;
          background-size: 100%;
          background-position: center center;

          &.facebook {
            background-image: url(https://facebook.com/favicon.ico);
          }

          &.vk {
            background-image: url(https://vk.com/favicon.ico);
          }

          &.instagram {
            background-image: url(https://www.instagram.com/static/images/ico/favicon-192.png/b407fa101800.png);
          }

          &.linkedin {
            background-image: url(https://linkedin.com/favicon.ico);
          }

          &.github {
            background-image: url(https://github.com/favicon.ico);
          }

          &.google {
            background-image: url(https://google.com/favicon.ico);
          }
        }
      }

      .desc {
        color: #535353;
        margin-top: 12px;
        // background: blue;
        font-size: 13px;
        line-height: 1.4em;
        opacity: 0.5;
      }

      &:hover {
        .icon {
          opacity: 1;
        }

        .desc {
          opacity: 1;
        }
      }
    }

    @media screen and (max-width: 800px) {
      text-align: center;

      .social {
        display: inline-block;
        width: 33%;
      }
    }

    @media screen and (max-width: 300px) {
      .social {
        width: 50%;
      }
    }
  }
}
