extends ../common/layout.pug

block vars
  - var page = "our-history"

block title
  | Школа програмування | CURSOR Education

block content
  section.section#intro
    .background-wrapper
      .background-image
      .background-overlay
    .section-wrapper
      .title Наша спільна історія

  section.section#our-history
    .section-wrapper
      .section-content
        .p
          | Ми -&nbsp;
          .brand-name
            .word-cursor CURSOR
            .word-education .EDUCATION
          | . І ми не просто компанія чи ще одні курси програмування - ми ті, хто сміливо рухають наших студентів до їх цілей, і сміливо їх ведемо тільки вперед!.
        .p
          | Основна&nbsp;
          b ідея школи
          | &nbsp;полягає в тому, щоб надихати людей рухатись вперед, і давати нашим студентам потрібні для цього інструменти та способи.
        .p
          | Ми вчилися, ми планували і ми добивалися результатів з самого початку. Як результатів школи, так і&nbsp;
          b результатів наших студентів
          | . Бо нам всього-на-всього було цікаво самим навчатись і&nbsp;
          b ділитись знаннями з іншими
          | .
        .p
          | Ми робили і робимо це&nbsp;
          b не заради грошей
          |. Бо гроші у програмістів і так є, ви про це самі знаєте з тонни інших "курсів". У нас інша мотивація - ми хочемо, щоб у світі було більше інноваторів як Ілон Маск, Стів Джобс, Марк Цукерберг, і тд.
        .p
          b Ми не любимо називати себе "курсами"
          | , бо ми даємо кожному нашому студенту набагато інше та більше, аніж просто суху технічну інформацію, як це робить більшість. Бо&nbsp;
          b кожна навчальна програма у нас - це емоції
          |. Це багато спілкування. І кожного разу, це неймовірний досвід для студентів, викладачів, саппортів та усіх хто задіяний в Школі.
        .p
          .brand-name
            .word-cursor CURSOR
            .word-education .EDUCATION
          b &nbsp;- це Люди
          |. І на цій сторінці історія Школи, яку зробили, в першу чергу, наші студенти.

  section.section#timeline
    .section-wrapper
      .timeline
        .timeline-block.in-circle.top-p30
          .timeline-content 2013
        .timeline-block.left
          .timeline-content
            .date десь на початку 2013
            .p Ми проводимо дуже багато часу у навчанні.
            .p
              | А знаєте коли Coursera з'явилася? Рік тому,&nbsp;
              a(href="https://en.wikipedia.org/wiki/Coursera" target="_blank") у 2012
              |. А Udacity? Також&nbsp;
              a(href="https://en.wikipedia.org/wiki/Udacity" target="_blank") на початку 2012
              | .
            .p.last Вже тоді ми мали свій погляд і думки на звичайте стаціонарне навчання в більшості ВНЗ, і розуміли який прорив робить і буде робити онлайн освіта.
        .timeline-block.top-back-140.right
          .timeline-content
            .date весна 2013
            p Цього ж року, багато наших друзів, які попали під "айті хвилю" почали цікавитись курсами при компаніях.
            p І, так як ми працювали і були в курсі ринку айті - ми проаналізували і мали повну картину по навчанні програмуванню у Львові.
            p
              | Тільки одиниці компаній мали свої&nbsp;
              a(href="https://softserve.ua/en/career/functional-offices/research-and-development/" target="_blank") R&amp;D центри
              | , після яких пропонували на роботу. Відбір туди - доволі складний. Тільки одного із 30-50 бажаючих запрошували на навчання. І тільки декільком випускникам пропонували оплачувану роботу.
            .p.last Тоді ми і спробували менторити своїх друзів, та показувати їм напрямок куди рухатись в програмуванні. Кому із друзів програмування "зайшло" - у 2017 займають Middle+ позиції.
        .timeline-block.top-back-170.left
          .timeline-content
            .date літо, серпень 2013
            p
              | Декілька майбутніх викладачів брали участь у&nbsp;
              a(href="https://www.epam.com/solutions/advanced-technology/research-and-development" target="_blank") R&amp;D великих компаній Львова
              | &nbsp;- ми займалися організацію та менеджментом навчання, навчанням, координуванням і підбором викладачів, співбесідами та самим набором.
            p Вже тоді тоді ми мали доволі великий досвід у повному циклі в навчанні - від формування команди та набору бажаючих, до випуску і працевлаштування.
            .p.last
              b І це нам подобалось!
              | &nbsp;(і продовжує подобатись!)
        .timeline-block.top-back-20.right
          .timeline-content
            .date наприкінці 2013
            .p У нас з'вляється ідея і бажання структуризувати свій досвід та знання, та отримати в результаті щось нове і ефективніше.
            .p Ми починаємо працювати в цьому напрямку, та вчити друзів тестуючи нові методології.
            .p.last
              | Ми акцентуємо тепер увагу не тільки на інформації, що ми даємо, але і на&nbsp;
              b ефективності програми
              | &nbsp;та прогресі кожного студента.

        .timeline-block.top-100.in-circle
          .timeline-content 2014
        .timeline-block.left
          .timeline-content
            .date літо 2014
            .p
              b Ми запускаємо тестові групи.
            p Хоча, це скоріше нагадувало зустріч друзів, які хочуть вчити програмування. Однак, відрізнялося воно тим, що у нас було розуміння точки "початку", куди ми рухаємось, та як ми слідкуємо за результатом.
            p
              | Тоді&nbsp;
              a.teacher.roman-rodomansky(href="/teacher/roman-rodomansky" target="_blank") Роман
              | &nbsp;допомагає по&nbsp;
              b PHP та FrontEnd
              | , оскільки найбільше проектного досвіду саме з цими мовами.
            .p.last
              | PHP ми вирішили так ніколи і не запускати, бо, як сказав один клієнт - "Життя надто коротке для PHP".
              | А от&nbsp;
              b FrontEnd став однією з програм, в якій ми постійно тестуємо щось нове
              | .
        .timeline-block.right.top-back-250.orange-circle
          .timeline-content
            .date кінець 2014
            p Деякі друзі знаходять свою першу роботу в світі айті, однак ми продовжуємо далі збиратися та обмінюватися досвідом в програмуванні.
            p Це нас неймовірно надихає, ми вирішуємо "вийти в світ", і довго думаємо як назватися.
            .p.last
              | Так офіційно народився
              .brand-name
                .word-cursor CURSOR
                .word-education .EDUCATION
              |.
            img(src="/our-history/cursor-keyboard.png")

        .timeline-block.top-100.in-circle
          .timeline-content 2015
        .timeline-block.left.orange-circle
          .timeline-content
            .date лютий 2015
            p У нас було бажання запуститися пошвидше, тому ми працюємо день і ніч над Школою.
            .p.last
              | І запускаємо веб сайт на домені&nbsp;
              b cursor.education
              | .
            img(src="/our-history/website-inside-development.png")
        .timeline-block.right.orange-circle.top-back-250
          .timeline-content
            .date серпень 2015
            p
              | Знайшовши однодумців і зібравши команду, ми&nbsp;
              b запускаємо першу оффлайн групу
              | .
            p Ми збираємось в антикафе, та дуже хвилюємося перед кожним заняттям :)
            .p
              | Тоді&nbsp;
              a.teacher.volodymyr-sen(href="/teacher/volodymyr-sen" target="_blank") Володя
              | &nbsp;та&nbsp;
              a.teacher.yevhen-lysyakov(href="/teacher/yevhen-lysyakov" target="_blank") Женя
              | &nbsp;зробили надзвичайно великий внесок у цьому навчанні.
            .two-images
              img.retro(src="https://pp.userapi.com/c615730/v615730513/ec0/hqbVXHaj4eE.jpg")
              img.retro(src="https://pp.userapi.com/c615730/v615730513/eae/NwmwEXNX5MI.jpg")
            .p.last Ми захопилися процесом навчання, та він почав приносити нам ще більше задоволення.
        .timeline-block.left.top-back-100
          .timeline-content
            .date листопад 2015
            p Паралельно ми знаходимо однодумців, які також хочуть ділитись інформацією, та починаємо готувати навчальні програми по JAVA та Ruby.
            .p.last
              | Згодом&nbsp;
              a.teacher.andrew-petryk(href="/teacher/andrew-petryk" target="_blank") Андрій Петрик
              | стає лідом курсу JAVA, та&nbsp;
              a.teacher.oleg-lazaryev(href="/teacher/oleg-lazaryev" target="_blank") Олег Лазарев
              | &nbsp;лідом курсу Ruby.
        .timeline-block.right
          .timeline-content
            .date вересень 2015
            p Паралельно з навчанням, Школа в процесі еволюції формує свій брендбук.
            .p.last Оранжеві сертифікати, та логотип "rock" - вся суть неформального навчання!
            img(src="/our-history/diploms-v2.jpg")
        .timeline-block.left.top-back-350.orange-circle
          .timeline-content
            .date листопад 2015
            p
              b Перший офіс!
            .p Після довгих пошуків ми все-таки його знаходимо, і згодом повністю в нього переїжджаємо.
            .p.last
              | Більше фото можна знайти у нашому&nbsp;
              a(href="https://instagram.com/cursor.education/" target="_blank") instagram
              | , прокрутивши фото в самий початок.
            img(src="/our-history/first-office.jpg")
        .timeline-block.right.top-back-140
          .timeline-content
            .date грудень 2015
            p Запускаємо групу QA, та паралельно проводимо аналіз людей, які йдуть в тестувальники.
            p Випустивши одну групу QA ми зрозуміли, що більшість людей, які йдуть в QA зацікавлені лише в легкому шляху в айті і здебільшого у фінансовій стороні.
            p
              | Це не співпадало з нашими цінностями, томи&nbsp;
              b ми відмовились від напрямку QA.

        .timeline-block.start.in-circle.top-100
          .timeline-content 2016
        .timeline-block.left.orange-circle
          .timeline-content
            .date початок 2016
            p
              b Перший випуск фронтенд групи!
              | &nbsp;Група вчилась більше 6 місяців, бо наша ціль - дати знання, а не відчитати години.
            p Забігаючи наперід - з цієї групи зараз усі працюють в айті.
            p Фінальний проект, який реалізували хлопці - гра, де мексиканець бігає біля гуртожитку, та ловить подарунки від дівчат. Було весело!
            p
              img(src="https://scontent-waw1-1.cdninstagram.com/t51.2885-15/e35/12965046_1673086716275610_1528089366_n.jpg")
        .timeline-block.right.top-back-140
          .timeline-content
            .date весна 2016
            .p
              | Після випуску ще декількох груп, ми визначили&nbsp;
              b чіткий напрямок Школи - Менеджмент Якості.
            p Ми альтруісти, тому ми так вкладались в свій продукт і студентів, що більше 1 року працювали без прибутку для Школи.
            p Лише для менеджменту якості, і покращення умов та ефективності навчання.
        .timeline-block.left
          .timeline-content
            .date весна 2016
            p
              | Ми&nbsp;
              b оновлюємо програму перед кожним курсом
              | . Світ програмування змінюється неймовірно швидко, тому кожна група повинна отримувати тільки актуальну інформацію.
              p Ніякої води і копіпасту, тільки реальний досвід в нових технологіях.
            p Ми відмовляємося в програмах від технологій та підходів, які більше не є актуальними.
            p
              img(src="/our-history/update-program.png")
        .timeline-block.right.top-back-350
          .timeline-content
            .date літо 2016
            p Цього року ми змогли випустити декіль груп по напрямках Ruby та Java, з яких доволі багато знайшли роботу після декількох місяців навчання.
            p
              img(src="/our-history/fe-graduation-a.jpg")
        .timeline-block.left
          .timeline-content
            .date літо 2016
            p
              | Один із випусків рубістів.
            p
              img(src="/our-history/ruby-graduation-a.jpg")
        .timeline-block.right.top-back-250
          .timeline-content
            .date літо 2016
            .p
              | Випуск&nbsp;
              b корпоративного навчання
              | &nbsp;FrontEnd групи&nbsp;
              a(href="https://tickets.ua/" target="_blank") tickets.ua
              | , та після ще декількох оффлайн груп.
            .p
              | При прозвоні попередніх студентів&nbsp;
              i (так, ми стараємось підтримувати з усіма зв'язок після навчання)
              | &nbsp;- ми взнаємо, що усі знайшли роботу.&nbsp;
              b Ми раді!
            p
              img(src="/our-history/tickets-graduation.jpg")
        .timeline-block.left.top-back-100
          .timeline-content
            .date осінь 2016
            .p
              b Запуск першої онлайн групи.
              | &nbsp;Абсолютно новий формат, до якого ми готувались декілька місяців.
            .p
              | Різний формат занять&nbsp;
              i (теорія, практика, фреймворки)
              | ,&nbsp;
              b додаємо code-review процес
              | , бонусні лекції&nbsp;
              i (про фріланс, про компанії, про рекрутинг)
              | ,&nbsp;
              b додаємо Primary/Secondary саппортів
              | , змінюємо оцінювання, і ще багато-багато іншого.
            .p Через декілька місяців успішний випуск групи, частина з якої працевлаштувалась ще до завершення навчання.
            p
              img(src="/our-history/first-online-group.jpg")
        .timeline-block.right.top-back-170
          .timeline-content
            .date кінець 2016
            .p
              | Рік 2016 для нас вийшов доволі продуктивним - у нас&nbsp;
              b 109 випускників
              | , серед яких&nbsp;
              i (на час 2017 року)
              | &nbsp;працюють в айті та займаються програмуванням близько 60%.
            .p
              | По відкритому рейтингу&nbsp;
              a(href="https://dou.ua/lenta/articles/it-schools-rankings-2016/#cursor" target="_blank") dou.ua "Ринок IT-навчання"
              | ми є в топ-50 навчальних закладів по кількості випускників по Україні.
            .p Непогано досягнення як для школи, яка будутьється на амбіціях тренерів та без інвестування, правда ж?

        .timeline-block.start.in-circle.top-100
          .timeline-content 2017
        .timeline-block.left
          .timeline-content
            .date початок 2017
            p Банальні випуски - це також не про нас.
            p На випуску кожної з груп - ми маємо традиції "фінальних" швидких задачок. Вам потрібно знайти помилку в коді, чи логіці - і тільки після цього ви зможете отримати свій диплом.
            p
              img(src="/our-history/online-graduation.png")
        .timeline-block.right.top-back-170.orange-circle
          .timeline-content
            .date квітень 2017
            .p
              b Ребрендинг&nbsp;
              | не тільки картинки, а і продукту.
            .p
              | Ми додаємо&nbsp;
              a(href="/job-support") Job Support
              | &nbsp;(підтримку працевлаштування), та оновлюємо усі наші ресурси.
            .p.last
              | День народження оновленого
              .brand-name
                .word-cursor CURSOR
                .word-education .EDUCATION
              | &nbsp;!
            img(src="/our-history/new-logo.jpg" width="300px")
        .timeline-block.left.top-back-170
          .timeline-content
            .p
              | Разом з колишніми студентами беремо участь в хакатоні&nbsp;
              b Garage 48 Mobile Lviv
              | , та пишемо мобільний додаток
              a(href="https://www.facebook.com/OneButton-971113506353594/" target="_blank") One Button
              | .
            .p.last
              | Виграємо гранд на навчання в
              a(href="http://lvbs.com.ua/en/" target="_blank") LvBS.
            img(src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/17190479_1335019436543580_6911846762302505970_n.jpg?oh=5c923810bedc3cb1dd9de40392caf52f&oe=596811D3")

        .timeline-block.start.in-circle.top-100
          .timeline-content зараз
        .timeline-block.center.top-50.last-slide
          .timeline-content
            p
              | На момент&nbsp;
              b квітня 2017 року - у нас більше 200 випускників
              | , декілька успішно завершених корпоративних тренінгів, і заплановані неймовірно цікаві навчальні програми.
            p З нами неймовірно круті професіонали-тренери, мега-активні саппорта та чудові студенти.
            p Свій айті постійно рухається та змінюється. І ми на місці стояти не збираємось!
            p
              i Далі буде..
            img(src="https://scontent-ams3-1.cdninstagram.com/t51.2885-15/e35/17663493_296250017472944_6038976802771173376_n.jpg")

  include _partials/social-icons.pug
  include _partials/contact-information.pug
  include _partials/footer.pug
  include _partials/copyright.pug
