extends ../common/layout.pug

block vars
  - var page = "test"

block title
  | Школа програмування | CURSOR Education

block content
  //- include index/_feedbacks.pug
  //- include _partials/footer.pug
  //- include _partials/map.pug
  include _partials/social-icons.pug
  include _partials/people.pug
  include _partials/copyright.pug
