extends ../common/layout.pug

block vars
  - var page = "true-about-it"

block title
  | Школа програмування | CURSOR Education

block content
  section.section#intro
    .section-wrapper
      .title Ріжемо правду про IT

  section.section#content
    .section-wrapper
      .section-content
        h4 Чому CURSOR.EDUCATION розказує правду про ІТ?
        p Ми працюємо в ІТ більше 7 років і чудово знаємо, що сфера ІТ не така проста, якою її малюють рекламні оголошення та інші дешеві маркетингові трюки.
        p (обережно - далі про наболівше)

        p
          | Нам набридла надокучлива реклама, яка практично чародійним методом пропонує&nbsp;
          b "пройти чародійний курс і за 3 місяці стати професіоналом своєї справи​"
          | , мало того -&nbsp;
          b "отримувати від 400 y.e. зразу після закінчення курсів​"&nbsp;
          | .

        p Ми почали займатись навчанням людей з ціллю - Самореалізації та використанні свого досвіду для допомоги людям, яким ДІЙСНО цікаве програмування.

        p Ми ніколи не мотивували людей заробляти на програмуванні, ніколи не закликали змінювати свою професію і ставати програмістом.

        p Адже фінансова мотивація - надто слабка на противагу складній роботі над собою та навчанні.

        p
          b “Вам потрібно полюбити програмування, а не просто хотіти заробляти на цьому”

        p Програмування це Інструмент досягнення своєї самореалізації, а не просто “крок” на зустріч до фінансової незалежності.

        p
          b CURSOR.EDUCATION​&nbsp;
          | - це школа, яка дає впевнений результат в програмування, при умові сильної віддачі та наполегливості.

        ul
          li Чарівних таблеток та інших магічних методів вивчення програмування немає.
          li Ніхто не буде шукати роботу для Вас окрім Вас.
          li Ніхто не зможе заставити Вас вивчити програмування окрім Вас.

        p Тому, кожному з своїх майбутніх студентів Ми проговорюємо те, що потрібно витрачати на навчання хоча б 4 години в день!

        p Ми з радістю розказуємо, показуємо та малюємо правдиву інформацію про сферу ІТ кожному бажаючому.

        p Якщо у Вас є якісь запитання, Якщо у Вас є смута в інформації чи Ви просто хочете дізнатись більше про ІТ -&nbsp;
          .button#ask-us(data-template="ask-us-template") Запитайте Нас​
          | &nbsp;і Ви отримаєте відповідь :)

  script(type="text/template")#ask-us-template
    form
      h3 Запитайте нас чому ми розказуємо правду про айті:
      .field.first
        .label Ім'я:
        input(required type="text" name="name" placeholder="Тарас Шевченко")
      .field
        .label Телефон:
        input(required type="text" name="phone" placeholder="093 123 45 67")

  include _partials/contact-information.pug
  include _partials/footer.pug
  include _partials/copyright.pug
