nav#navigation

  .navigation-toolbar-wrapper
    .navigation-toolbar
      .label Залишились будь-які запитання?
      .phone
        a(href="tel:+380682292804") +38 (068) 229 2804
      .email
        a(href="mailto:hello@cursor.education") hello@cursor.education
      .social-links
        a.social.facebook(href="https://facebook.com/education.cursor" target="_blank")
          i.icon.facebook
        a.social.linkedin(href="https://linkedin.com/company/cursor-education" target="_blank")
          i.icon.linkedin
        a.social.instagram(href="https://instagram.com/cursor.education" target="_blank")
          i.icon.instagram

  .navigation-wrapper
    .navigation-logo
      .logo-icon-wrapper
        a(href="/")
          i.logo.logo-white.icon
          i.logo.logo-orange.icon
      .city-wrapper
        div Ukraine

    .navigation-menu
      .navigation-menu-wrapper
        .item
          a(href="/#trainers", data-scroll-to-href="trainers") Ментори

        .item
          a(href="/#job-support", data-scroll-to-href="job-support") Job Support

        .item
          a(href="/#feedbacks", data-scroll-to-href="feedbacks") Відгуки

        .item.menu-icon
          #burger-menu.burger-menu-icon-wrapper
            i.icon.burger-menu-icon

nav#navigation-full
  .navigation-wrapper
    .overlay-content
      ul.menu
        li
          a(href="/our-history") Історія школи
          .desc - історія про те, як розвивалась та змінювалась школа
        //- li
        //-   a(href="/news") Новини
        //-   .desc - новини та оновлення в роботі школи
        //- li
        //-   a(href="#") Студенти
        //-   .desc - інформація про наших студентів, якими ми гордимося
        //- li
        //-   a(href="#") Тренери
        //-   .desc - наші тренери
        li
          a(href="/corporate") Корпоративне навчання
          .desc - навчання для вашої компанії
        li
          a(href="/job-support") Працевлаштування
          .desc - ми гарантуємо працевлаштування, і даємо потрібні інструменти
        li
          a(href="/true-about-it") Правда про айті
          .desc - ми розказуємо тільки правду, без води
        li
          a(href="/contacts") Контакти
          .desc - як з нами звязатися

      ul.social
        li.facebook
          a(href="https://facebook.com/education.cursor" target="_blank")
            i.icon.facebook
            .title Facebook
        li.instagram
          a(href="https://instagram.com/cursor.education" target="_blank")
            i.icon.instagram
            .title Instagram
        li.linkedin
          a(href="https://linkedin.com/company/cursor-education" target="_blank")
            i.icon.linkedin
            .title LinkedIn
        li.github
          a(href="https://github.com/cursor-education" target="_blank")
            i.icon.github
            .title GitHub

