@import "../common/variables";

body.visible-full-navigation {
  overflow: hidden;

  nav#navigation-full {
    top: 0;
    opacity: 1;
    background: rgba(58, 21, 5, 0.9);
    transform: scale(1);

    z-index: 9999;
  }

  #navigation,
  #page {
    // filter: blur(0.5px);
  }
}

nav#navigation-full {
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
  transition: opacity 0.2s ease-in-out,
              transform 0.2s ease-in-out;

  transform: scale(2);

  z-index: -1;

  .navigation-wrapper {
    // background: #092;

    display: table;
    width: 100%;
    height: 100%;
  }

  .overlay-content {
    // background: blue;

    @media screen and (max-height: 450px) {
      .menu,
      .social {
        position: relative !important;
        bottom: auto !important;
        margin: 0 !important;
        padding: 0 !important;
        // background: blue !important;
        display: table-cell !important;
        vertical-align: middle !important;
      }
    }

    @media screen and (max-width: 950px) {
      // background: red !important;

      .menu {
        width: 90% !important;
      }

      .social {
        // width: 100px !important;
      }
    }

    display: table-cell;
    vertical-align: middle;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;

    padding-bottom: 100px;

    ul.menu {
      // background: orange;

      list-style-type: none;
      padding: 0;

      width: 60%;

      margin: 0;
      margin-left: auto;
      margin-right: auto;

      line-height: 3em;

      li {
        // background: red;

        text-align: left;
        margin-bottom: 10px;

        // display: inline-table;
        // width: 100%;

        @include clearfix;

        a,
        .desc {
          // display: inline-block;
          display: block;
          // display: table-cell;
          // vertical-align: middle;
          // // background: orange;
          // // width: 50%;
        }

        a {
          // background: orange !important;
          float: left;

          background: white;
          color: #000;

          &:hover {
            background: #e15112;
            color: #fff;
          }

          font-size: 30px;
          text-decoration: none;

          padding: 5px 10px;
        }

        .desc {
          // background: green;

          color: #fff;
          line-height: 1.2em;
          height: 58px;

          vertical-align: middle;
          display: table-cell;

          // margin-top: -5px;
          padding-left: 10px;
        }
      }
    }

    ul.social {
      list-style-type: none;
      padding: 0;

      margin: 0;
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;

      // background: red;

      position: absolute;
      bottom: 10px;
      width: 100%;

      li {
        display: inline-block;
        // background: red;
        width: 100px;

        transition: background 0.1s ease-in-out;

        a {
          text-decoration: none;
        }

        &:hover {
          background: #000;
          cursor: pointer;

          i.icon {
            transform: scale(1.1);
          }
        }

        i.icon {
          width: 30px;
          height: 30px;

          margin-top: 15px;
          margin-bottom: 2px;

          background: transparent;
          background-size: 100%;
          background-repeat: no-repeat;

          // background-color: #821;

          &.facebook {
            background-image: url("/icons/facebook-xl.png");
          }

          &.instagram {
            background-image: url("/icons/instagram-6-xl.png");
          }

          &.linkedin {
            background-image: url("/icons/linkedin-xl.png");
          }

          &.github {
            background-image: url("/icons/github-50.png");
          }
        }

        .title {
          // background: orange;
          font-size: 14px;
          color: #fff;
          padding: 5px;
          margin-bottom: 10px;
          user-select: none;
        }
      }
    }

  }
}

nav#navigation {
  position: fixed;

  width: 100%;
  top: 0px;
  left: 0;

  z-index: 900;

  background: transparent;
  // background: red;
  color: white;

  transition: background 0.2s ease-out;

  .navigation-toolbar-wrapper {
    // background: #303842;
    background: #2e2e2e;
    color: white;

    height: 50px;
    margin-top: -50px;

    transition: margin-top 0.4s ease-out;

    .navigation-toolbar {
      @include clearfix;

      max-width: 900px;

      margin-left: auto;
      margin-right: auto;

      @media screen and (max-width: 950px) {
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
      }

      .label,
      .phone,
      .email,
      .social-links {
        display: inline-block;
        line-height: 50px;
        font-size: 13px;
        letter-spacing: 0.4px;
      }

      @media screen and (max-width: 700px) {
        .label {
          display: none;
        }

        .phone {
          margin-left: 0 !important;
        }
      }

      @media screen and (max-width: 470px) {
        .email {
          display: none;
        }
      }

      .phone,
      .email {
        &:before {
          content: ' ';

          display: inline-block;

          width: 10px;
          height: 10px;

          margin-right: 5px;

          // background: red;
          background-repeat: no-repeat;
          background-size: 100%;
        }

        a {
          color: inherit;
          text-decoration: none;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .phone {
        margin-left: 20px;

        &:before {
          background-image: url("/icons/phone-26.png");
        }
      }

      .email {
        margin-left: 20px;

        &:before {
          background-image: url("/icons/email-50.png");
        }
      }

      .social-links {
        // background: red;
        float: right;
        display: inline-table;

        .social {
          display: table-cell;

          .icon {
            vertical-align: middle;
            width: 14px;
            height: 14px;
            margin-left: 10px;

            background: blue;
            background: transparent;
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center center;

            cursor: pointer;
            opacity: 1;

            transform: scale(1);
            transition: transform 0.1s ease-in-out;

            &:hover {
              transform: scale(1.1);
            }

            // http://www.iconsdb.com/white-icons/white-facebook-icons.html

            &.facebook {
              background-image: url("/icons/facebook-3-xl.png");
              background-image: url(http://webdesignerwall.com/demo/css-social-buttons/images/white_facebook.png);
              background-image: url("/icons/facebook-xl.png");
            }

            &.linkedin {
              background-image: url("/icons/linkedin-3-xl.png");
              background-image: url(http://webdesignerwall.com/demo/css-social-buttons/images/white_linkedin.png);
              background-image: url("/icons/linkedin-xl.png");
            }

            &.instagram {
              margin-top: 2px;
              margin-left: 11px;
              background-image: url("/icons/instagram-6-xl.png");
            }
          }
        }
      }
    }
  }

  .navigation-wrapper {
    display: table;

    width: 100%;
    max-width: 900px;

    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 950px) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @media screen and (max-width: 470px) {
      .navigation-logo {
        width: 50px !important;
      }
    }

    @media screen and (max-width: 370px) {
      .navigation-menu-wrapper .item {
        display: none !important;
      }
    }

    .navigation-logo,
    .navigation-menu {
      display: table-cell;
      vertical-align: middle;
      padding: 30px 0 15px 0;
    }

    .navigation-logo {
      // width: 150px;

      user-select: none;

      transition: padding-top 0.2s ease-out;
      // background: red;

      $logo-size: 45px;

      .logo-icon-wrapper {
        position: relative;
        display: inline-block;
        // background: yellow;

        width: $logo-size;
        height: $logo-size;

        a {
          display: inline-block;
          width: 100%;
          height: 100%;
        }

        .logo {
          position: absolute;
          left: 0;
          top: 0;

          width: $logo-size;
          height: $logo-size;

          background-size: $logo-size;
          background-repeat: no-repeat;

          // background-color: #127;

          transition: visibility 0.3s ease-out,
                      opacity 0.3s ease-out,
                      transform 0.2s ease-out;

          &.logo-orange {
            background-image: url("/favicon/favicon-orange.png");
            opacity: 0;
            transform: scale(3);
            visibility: hidden;
          }

          &.logo-white {
            background-image: url("/favicon/favicon-white.png");
          }
        }

        &:hover {
          .logo {
            transform: scale(1.5) rotate(10deg) !important;
          }
        }
      }

      .city-wrapper {
        // background: blue;
        display: inline-block;
        vertical-align: top;

        // line-height: $logo-size;
        line-height: 2.1em;
        // margin-left: 7px;
        margin-left: -4px;

        font-weight: 400;
        font-size: 0.7rem;
        letter-spacing: 0.04rem;
        // line-height: 1em;

        user-select: none;
        cursor: default;

        // vertical-align: top;

        @media screen and (max-width: 500px) {
          display: none !important;
          background: orange;
        }

        transition: margin-top 0.2s ease-in-out,
                    margin-left 0.2s ease-in-out,
                    transform 0.2s ease-in-out,
                    line-height 0.2s ease-in-out,
                    font-size 0.2s ease-in-out;
      }
    }

    .navigation-menu {
      text-align: right;
      user-select: none;
      height: 100%;
      // background: blue;

      transition: padding 0.2s ease-out;

      .navigation-menu-wrapper {
        // background: red;
        // height: 100%;
        height: 80px;
        // padding-top: 10px;
        // min-height: 50px;

        .item {
          // background: silver;
          display: inline-block;
          vertical-align: top;
          height: 100%;
          cursor: pointer;
          border-bottom: 1px transparent solid;

          &:hover {
            // background: rgba(#fff, 0.8);
            background: rgba(#dc4f12, 0.5);
            border-bottom-color: rgba(#fff, 0.6);
          }

          a {
            color: white;
            text-decoration: none;

            letter-spacing: 0.04rem;
            font-size: 14px;
            font-weight: 300;
            line-height: 1em;

            padding: 0px 10px;

            &:before {
              content: "";
              display: inline-block;
              height: 100%;
              vertical-align: middle;
            }
          }

          &.menu-icon {
            // background: red;
            display: none;

            .burger-menu-icon-wrapper {
              width: 15px;
              height: 100%;
              padding-left: 20px;
              padding-right: 20px;

              // background: blue;

              &:before {
                content: "";
                display: inline-block;
                height: 100%;
                vertical-align: middle;
                margin-top: -7px;
              }

              &.close:active {
                .burger-menu-icon {
                  background-color: hsla(0,0%,100%,0);
                  transition: all .15s ease;

                  &:before {
                    transform: translateY(0) rotate(-45deg);
                  }

                  &:after {
                    transform: translateY(0) rotate(45deg);
                  }
                }
              }

              &:hover {
                .burger-menu-icon {
                  opacity: .8;

                  &:before {
                    transform: translateY(-6px);
                  }

                  &:after {
                    transform: translateY(6px);
                  }
                }
              }

              &:active {
                .burger-menu-icon {
                  &:before {
                    transform: translateY(0) rotate(0deg);
                  }
                  &:after {
                    transform: translateY(0) rotate(0deg);
                  }
                }
              }

              .burger-menu-icon {
                // display: block;
                display: inline-block;

                width: 100%;
                height: 2px;
                background: #fff;
                position: relative;
                opacity: 1;

                // background: red;

                &:before,
                &:after {
                  display: block;
                  content: "";
                  width: 100%;
                  height: 2px;
                  background-color: #fff;
                  position: absolute;
                  left: 0;
                  transition: transform .15s ease;
                }

                &:before {
                  transform: translateY(-5px);
                }

                &:after {
                  transform: translateY(5px);
                }
              }
            }
          }
        }
      }
    }
  }

  &.scrolled {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 5px -3px rgba(0, 0, 0, 0.2);

    &:hover {
      background: rgb(255, 255, 255);
    }

    &.scrolled-back.scrolled-below-header {
      .navigation-toolbar-wrapper {
        transition-delay: 0.3s;
        margin-top: 0px;
      }
    }

    .navigation-wrapper {
      .navigation-logo {
        padding-top: 15px;

        .logo-icon-wrapper .logo {
          &.logo-white {
            opacity: 0;
            visibility: hidden;
          }

          &.logo-orange {
            opacity: 1;
            transform: scale(1);
            visibility: visible;
          }
        }

        .city-wrapper {
          color: #000;
          // color: #fd501f;
          font-weight: 500;

          // transform: rotate(-61deg);
          // margin-left: -64px;
          // margin-top: 7px;

          line-height: 45px;
          font-size: 0.9rem;
          margin-left: 2px;
        }
      }

      .navigation-menu {
        padding: 0;

        .navigation-menu-wrapper {
          .item {
            transition: background 0.05s ease-in-out,
                        color 0.05s ease-in-out;

            &:hover {
              background: #fd501f;
              border-bottom: none;

              a {
                color: #fff;
              }

              &.menu-icon {
                .burger-menu-icon-wrapper {
                  .burger-menu-icon {
                    $color: #fff;

                    &, &:before, &:after {
                      background-color: $color;
                    }
                  }
                }
              }
            }

            a {
              color: #000;
              font-weight: 300;

              display: inline-block;
              height: 100%;
            }

            &.menu-icon {
              .burger-menu-icon-wrapper {
                .burger-menu-icon {
                  $color: #000;

                  &, &:before, &:after {
                    background-color: $color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

}
