*, *:before, *:after {
  box-sizing: border-box;
  zoom: 1;
  text-rendering: optimizeLegibility;
  outline: none;
}

#page {
  box-sizing: border-box;

  width: auto;
  margin: auto;

  max-width: 100%;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  // font-smoothing: antialiased;

  text-rendering: optimizeLegibility;
}

section.section {
  background: #fafafa;
  position: relative;

  .section-wrapper {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0px;

    @media screen and (max-width: 950px) {
      // background: red;
    }

    .section-title {
      position: relative;

      // color: #999999;
      color: #444;

      font-family: Roboto;
      font-size: 25px;
      font-weight: 400;

      text-align: center;
      letter-spacing: 0.3px;

      margin: 0;
      margin-top: 40px;
      margin-bottom: 50px;

      // opacity: 0;
      // transition: opacity 0.3s ease-in;

      // &.in-view {
      //   opacity: 1;
      // }

      .highlight {
        background: #333;
        color: #fff;
        padding: 8px 11px;
        white-space: pre;

        @media screen and (max-width: 400px) {
          line-height: 2em;
        }
      }
    }

    .section-content {
      margin-bottom: 30px;
    }
  }
}
