.timeline {
  position: relative;
  // background: yellow;

  .timeline-block {
    position: relative;
    background: #fa550c;

    width: 6px;
    margin: 0 auto;

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;

      transform: translateX(-50%);

      $size: 30px;
      width: $size;
      height: $size;

      background: #f0f0f0;
      border: 5px #fa550c solid;
      border-radius: 50%;

      z-index: 10;
    }

    &.orange-circle {
      &:after {
        border: none;
        background: #fa550c;

        $size: 40px;
        width: $size;
        height: $size;
      }
    }

    .timeline-content {
      position: relative;

      width: 450px;
      padding: 15px;

      bottom: 0;

      background: #fff;
      // background: #aaa;

      // box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);

      // opacity: 0;
      // visibility: hidden;

      // transition: opacity .4s ease-in-out,
      //             transform .4s ease-in-out;

      .date {
        margin-top: -35px;
        margin-bottom: 20px;
        font-size: 12px;
        font-weight: 300;
      }

      .two-images {
        // background: red;
        text-align: left;
        margin-bottom: 10px;

        img {
          display: inline-block;
          vertical-align: top;
          width: 49%;
          margin-right: 1%;
          margin-top: 0px;
        }
      }

      img {
        max-width: 100%;
        margin-top: 10px;
        border-radius: 1px;
        transition: filter 0.2s ease-in-out;
        cursor: default;

        &.retro {
          filter: sepia(100%);

          &:hover {
            filter: none;
            // filter: sepia(10%);
          }
        }
      }

      p, .p {
        padding: 0;
        margin: 0;

        line-height: 1.4em;
        margin-bottom: 13px;

        &.last {
          margin-bottom: 0;
        }

        // &:last-of-type {
        //   margin-bottom: 0;
        // }

        color: #333;

        a {
          display: inline-block;
          background: #eee;
          color: #000;
          text-decoration: none;
          padding: 3px 4px 3px 5px;
          margin-bottom: 1px;

          &.teacher {
            position: relative;
            padding-left: 30px;
            margin-left: 10px;

            &:hover {
              &:before {
                transform: scale(1.1);
              }
            }

            &:before {
              position: absolute;
              left: -10px;
              top: -3px;

              content: '';
              display: inline-block;
              vertical-align: middle;
              width: 35px;
              height: 35px;
              z-index: 1;

              margin-right: 5px;

              background-color: orange;
              background-size: 100%;
              background-repeat: no-repeat;
              background-position: center center;

              border-radius: 50%;

              transition: transform 0.1s ease-in-out;
            }

            &.roman-rodomansky:before {
              background-image: url(https://www.dropbox.com/s/wgsuhgrrka4ayqj/roman-rodomansky-300x300.png?raw=1);
            }

            &.volodymyr-sen:before {
              background-image: url(https://www.dropbox.com/s/crovgdepvb4oujy/volodymyr-sen.png?raw=1);
            }

            &.yevhen-lysyakov:before {
              background-image: url(https://www.dropbox.com/s/6z7s3iaa9kgpveu/eugene-lysakov-300x.png?raw=1);
            }

            &.andrew-petryk:before {
              background-image: url(https://www.dropbox.com/s/v1nx6dvex4kk7ti/300x300.png?raw=1);
            }

            &.oleg-lazaryev:before {
              background-image: url(https://media.licdn.com/media/p/7/000/271/3d7/2ab487f.jpg);
            }
          }

          &:after {
            content: '';
            display: inline-block;
            vertical-align: middle;

            margin-left: 2px;
            width: 12px;
            height: 12px;

            background: transparent;
            // background: yellow;
            background-image: url("/icons/mouse-left-click-96.png");
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center center;
          }
        }
      }
    }

    &.in-circle {
      // background: blue;
      padding-top: 60px;

      .timeline-content {
        background: transparent;
        // background: blue;

        left: -30px;
        bottom: 35px;

        width: 65px;
        padding: 0;

        color: #fff;
        font-size: 25px;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0px;

        opacity: 1;
        visibility: visible;
        z-index: 11;

        &:before,
        &:after {
          display: none;
        }
      }

      &:after {
        background: #fa550c;

        $size: 100px;
        width: $size;
        height: $size;
      }

    }

    &.top-10 { padding-top: 10px }
    &.top-20 { padding-top: 20px }
    &.top-50 { padding-top: 50px }
    &.top-100 { padding-top: 100px }
    &.top-p30 { margin-top: 30px }
    &.top-back-20 { margin-top: -20px; }
    &.top-back-50 { margin-top: -50px; }
    &.top-back-100 { margin-top: -100px; }
    &.top-back-140 { margin-top: -140px; }
    &.top-back-170 { margin-top: -170px; }
    // &.top-back-230 { margin-top: -230px; }
    &.top-back-250 { margin-top: -250px; }
    &.top-back-350 { margin-top: -350px; }

    &.move-top-40 {
      margin-top: -40px;
    }

    &.move-top-60 {
      margin-top: -60px;
    }

    &.move-top-80 {
      margin-top: -80px;
    }

    &.move-top-100 {
      margin-top: -100px;
    }

    &.move-top-150 {
      margin-top: -150px;
    }

    &.margin-top-p60 {
      margin-top: 60px;
    }

    &.in-view {
      &.left,
      &.right {
        .timeline-content {
          // transform: none;
          // opacity: 1;
          // visibility: visible;
        }
      }
    }

    &.last-slide {
      .timeline-content {
        width: 600px;
      }

      &.center {
        .timeline-content {
          left: -300px;
        }
      }
    }

    &.center {
      .timeline-content {
        left: -225px;
        z-index: 11;
      }
    }

    &.left {
      .timeline-content {
        left: -495px;

        // transform: translate3d(-200px,0,0);

        &:before {
          content: '';
          position: absolute;
          bottom: 7px;
          width: 0;
          height: 0;
          border-style: solid;
          right: -15px;
          border-width: 8px 0px 8px 16px;
          border-color: transparent transparent transparent #fff;
        }
      }
    }

    &.right {
      .timeline-content {
        left: 45px;

        // transform: translate3d(200px,0,0);

        &:before {
          content: '';
          position: absolute;
          bottom: 7px;
          width: 0;
          height: 0;
          border-style: solid;
          left: -15px;
          border-width: 8px 16px 8px 0;
          border-color: transparent #fff transparent transparent;
        }
      }
    }
  }

  @media screen and (max-width: 1050px) {
    .timeline-block {
      .timeline-content {
        width: 350px;
      }

      &.left {
        .timeline-content {
          left: -400px;
        }
      }
    }
  }

  @media screen and (max-width: 850px) {
    .timeline-block {
      .timeline-content {
        width: 250px;
      }

      &.left {
        .timeline-content {
          left: -300px;
        }
      }
    }
  }

  @media screen and (max-width: 650px) {
    .timeline {
      padding-left: 25px;
      padding-right: 25px;
    }

    .timeline-block {
      margin-left: 50px;
      margin-top: 0 !important;
      // padding-top: 10px !important;

      &.left,
      &.right,
      &.center {
        .timeline-content {
          width: 300px;
          left: 45px !important;

          &:before {
            left: -15px;
            border-width: 8px 16px 8px 0;
            border-color: transparent #fff transparent transparent;
          }
        }
      }
    }
  }

  @media screen and (max-width: 450px) {
    .timeline-block {
      margin-left: 50px;
      margin-top: 0 !important;
      // padding-top: 10px !important;

      &.left,
      &.right,
      &.center {
        .timeline-content {
          width: 200px;
          left: 30px !important;

          &:before {
            left: -15px;
            border-width: 8px 16px 8px 0;
            border-color: transparent #fff transparent transparent;
          }
        }
      }
    }
  }
}
