@import "../common/variables";
@import "../common/mixins";
@import "../components/icons";
@import "../components/timeline";

@import "partials/footer";
@import "partials/social-icons";
@import "partials/contact-information";
@import "partials/copyright";

#intro {
  background: #fa550c;
  color: white;

  height: 300px;

  .background-wrapper {
    .background-image,
    .background-overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    .background-image {
      background-image: url("IMG_4813-bg.jpg");
      background-image: url(http://www.ische.org/wp-content/uploads/2010/04/practice-teaching-hands1.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0px -120px;
      background-position: center -110px;
      // filter: blur(3px);
      // animation: test 40s ease-in-out infinite alternate;

      @media screen and (max-width: 1000px) {
        background-position: center center;
      }
    }

    .background-overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(#fa550c, 0.8);
      z-index: 1;

      background-image: url(background-dots.png);
      background-position: 0 0;
      background-size: 60px;
    }
  }

  .section-wrapper {
    text-align: center;
    position: relative;
    z-index: 2;
  }

  .title {
    display: inline-block;
    text-align: center;

    margin-top: 120px;
    padding: 25px 40px;

    font-size: 33px;
    font-weight: 500;

    background: rgba(white, 0.9);
    color: #fa550c;
    // color: #fff;

    cursor: default;
  }
}

#our-history {
  .section-content {
    // background: red;
    text-align: left;
    margin-bottom: 50px;

    .p {
      margin-bottom: 15px;

      color: #777;

      // font-size: 15px;
      font-weight: 400;
      letter-spacing: 0.1px;
      line-height: 1.5em;

      b {
        color: #333;
      }
    }
  }
}

#timeline {
  background: #eeeeee;
}
