@import "../common/variables";
@import "../common/mixins";
@import "../components/icons";

@import "partials/footer";
@import "partials/copyright";

#background-wrap {
  #background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: #8299b7;
    background-position: center center;
    background-size: cover;
  }

  #background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    background-color: rgba(0,0,0,0.5);
  }
}

#teacher-information {
  position: relative;

  background: transparent;
  color: #333;

  padding-top: 120px;
  margin-bottom: 50px;

  @media screen and (min-width: 1300px) {
    // padding-top: 230px;
  }

  // text-align: center;
  z-index: 9;

  .section-wrapper {
    background: rgba(white, 0.8);
    padding: 25px;

    @media screen and (max-width: 900px) {
      width: 100%;

      .section-content {
        display: block !important;
      }

      .left,
      .right {
        display: block !important;
        width: 100%;
      }

      .right {
        margin-top: 50px;
        padding: 0;
      }

      .fb-comments {
        //
      }
    }
  }

  .section-content {
    display: inline-table;
    width: 100%;

    .left,
    .right {
      display: table-cell;
      vertical-align: top;
    }
  }

  .left {
    // background: blue;
    text-align: center;

    .photo {
      border-radius: 50%;
      max-width: 250px;
    }

    .name,
    .position {
      padding: 0;
      margin: 0;
    }

    .name {
      font-size: 35px;
      font-weight: 600;
      margin-top: 15px;
      line-height: 1.1em;
    }

    .position {
      margin-top: 20px;

      font-size: 19px;
      font-weight: 500;
    }
  }

  .right {
    // background: rgba(0,0,0,0.3);
    // width: initial;
    // max-width: 1100px;

    padding: 0px 10px 10px 20px;

    // margin: 0 auto;
    // margin-top: -80px;

    text-align: left;
    letter-spacing: 1.1px;
    line-height: 1.4em;
    font-size: 15px;

    a {
      color: inherit;
      text-decoration: none;
      background: rgba(white, 0.8);
      padding: 1px 2px;

      display: inline-block;

      &:after {
        content: '';
        display: inline-block;
        vertical-align: middle;

        margin-left: 2px;
        width: 12px;
        height: 12px;

        background: transparent;
        // background: yellow;
        background-image: url("/icons/mouse-left-click-96.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center center;
      }
    }

    .description {
      margin-bottom: 30px;

      p {
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
      }
    }

    .comments {
      margin-top: 50px;

      .label {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 30px;
      }
    }

    .fb-like {
      margin-top: 20px;
    }
  }
}

#footer,
#copyright {
  z-index: 10;
}
