{
  "env": {
    "browser": true,
    "es6": true
  },
  "rules":{
    "accessor-pairs": 0,
    "block-scoped-var": "error",
    "complexity": [0, 11],
    "consistent-return": "error",
    "curly": [2, "multi-line"],
    "default-case": "error",
    "dot-location": 0,
    "dot-notation": [2, { "allowKeywords": true}],
    "eqeqeq": "error",
    "guard-for-in": "error",
    "no-alert": "warn",
    "no-caller": "error",
    "no-case-declarations": "error",
    "no-div-regex": 0,
    "no-else-return": "error",
    "no-empty-pattern": 0,
    "no-eq-null": 0,
    "no-eval": "error",
    "no-extend-native": "error",
    "no-extra-bind": "error",
    "no-fallthrough": "error",
    "no-floating-decimal": "error",
    "no-implicit-coercion": 0,
    "no-implied-eval": "error",
    "no-invalid-this": 0,
    "no-iterator": "error",
    "no-labels": [2, {"allowLoop": true, "allowSwitch": true}],
    "no-lone-blocks": "error",
    "no-loop-func": "error",
    "no-magic-numbers": 0,
    "no-multi-spaces": "error",
    "no-multi-str": "error",
    "no-native-reassign": "error",
    "no-new-func": "error",
    "no-new-wrappers": "error",
    "no-new": "error",
    "no-octal-escape": "error",
    "no-octal": "error",
    "no-param-reassign": [2, { "props": true }],
    "no-process-env": 0,
    "no-proto": "error",
    "no-redeclare": "error",
    "no-return-assign": "error",
    "no-script-url": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-throw-literal": "error",
    "no-unused-expressions": "error",
    "no-unused-vars": "warn",
    "no-useless-call": 0,
    "no-useless-concat": 0,
    "no-void": 0,
    "no-warning-comments": [0, { "terms": ["todo", "fixme", "xxx"], "location": "start" }],
    "no-with": "error",
    "radix": "error",
    "vars-on-top": "error",
    "wrap-iife": [2, "outside"],
    "yoda": 2
  }
}
