$debug: true;

// Colors:
$red: #F97564;
$lighten-red: #ff806f;
$darken-red: rgba(88, 88, 88, 0.2);
$orange: #FFA44F;
$black: #333333;
$gray: #F2F2F2;
$light-gray: #A8A8A8;

// typography
$text-size: 0.9em;
$h1-size: 4em;
$h2-size: 2em;


